<!-- Idea Comment Section -->
<div class="loader" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
<div *ngIf="activityType === 'idea' && !isLoading">
  <div *ngFor="let comment of commentsArray">
    {{ comment.comment_text }} by {{ comment.commenter }} at {{ comment.timestamp | date }}
    <div *ngFor="let reply of comment.ideasReplysBycommentId">
      {{ reply.reply_text }} by {{ reply.respondent }} at {{ reply.time | date }}
    </div>
    <br />
  </div>
</div>

<!-- Issue Comment Section  -->
<div class="loader" *ngIf="isLoading"><mat-spinner></mat-spinner></div>
<div *ngIf="issueCommentObject && !isLoading">
  <div *ngFor="let comment of issueCommentObject">
    <app-editable-comment [comment]="comment" (commentEdited)="onCommentEdited(comment, $event)">
    </app-editable-comment>
  </div>
  <div *ngIf="!commentingOnIssue">
    <button mat-button (click)="addCommentBox()"><mat-icon>comment</mat-icon>&nbsp;COMMENT</button>
  </div>

  <div *ngIf="commentingOnIssue" class="new_comment">
    <td-text-editor [(ngModel)]="comment" [options]="options" *ngIf="commentingOnIssue"></td-text-editor>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="addNewComment(projectId, activityId)">Post Comment</button>
  </div>
</div>
