<!-- <div *ngFor="let comment of commentsArray">
  {{ comment.text }} by {{ comment.user }} at {{ comment.commented_at | date }}
  <div *ngFor="let reply of comment.replies">
    {{reply.text}} by {{ reply.user }}  at {{ reply.replied_at | date }}
  </div>
  <br>
</div> -->

<div *ngIf="issueCommentObject">
  <div *ngFor="let comment of issueCommentObject">
    <app-editable-comment
      [content]="comment.comment_text"
      [type]="'comment'"
      [time]="comment.timestamp"
      [user]="comment.commenter"
      (commentEdited)="onCommentEdited(comment, $event)"
    >
    </app-editable-comment>
    <div *ngFor="let reply of comment.comment_replies">
      <app-editable-comment
        [content]="reply.reply_text"
        [type]="'reply'"
        [time]="reply.timestamp"
        [user]="reply.respondent"
        (commentEdited)="onCommentEdited(reply, $event)"
      >
      </app-editable-comment>
    </div>
  </div>
  <div *ngIf="!commentingOnIssue"><input type="text" placeholder="Add a comment" (click)="addCommentBox()" /></div>
  <div *ngIf="commentingOnIssue">
    <td-text-editor [(ngModel)]="comment" [options]="options" *ngIf="commentingOnIssue"></td-text-editor>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-button (click)="addNewComment(projectId, activityId)">Post Comment</button>
  </div>
</div>
