.comment-box {
  background-color: white;
  border-radius: 5px;
}
.comment-container {
  padding: 20px;
}
.add-comment {
  background-color: rgb(247, 247, 247);
  display: flex;
  border-radius: 5px;
  align-items: center;
  padding: 15px;
}
cl-image > img {
  border-radius: 50%;
}
.user-icon {
  padding-right: 10px;
}
.init-comment-input {
  background-color: white;
  border-radius: 5px;
  font-size: 0.9rem;
  align-items: center;
  width: 450px;
  display: flex;
  padding-left: 30px;
  height: 50px;
  color: grey;
}

.comment-info {
  padding: 15px;
  display: flex;
  border-radius: 5px;
  align-items: center;
}
.user-name {
}
.comment-text-box {
  margin-left: 60px;
}
.comment-text {
  font-size: 0.94rem;
  line-height: 0.98;
  margin-bottom: 10px;
}
.comment-icons {
  display: flex;
  align-items: center;
  color: grey;
}

.icon {
  color: #2196f3;
  margin: 0 5px;
}
mat-dialog-container {
  background-color: rgb(247, 247, 247) !important;
}
