.review-comment {
  padding: 10px;
  border: 1px #dddddd solid;
  border-radius: 5px;
  margin-bottom: 10px;
}

.declined {
  border-right: 4px red solid;
}

.approved {
  border-right: 4px greenyellow solid;
}
