<div class="background" *ngIf="idea">
  <div class="container container--idea">
    <div class="idea-description">
      <h2 class="heading--title">{{ idea.idea_name }}</h2>
      <h4 class="heading--subtitle">
        by <a href="#" class="link--inline">{{ idea.owner }}</a>
      </h4>
      <app-liking [likes]="idea.upvotes" [ideaId]="idea.id"></app-liking>

      <hr class="seperator" />

      <div class="description-box">
        <p class="paragraph paragraph--medium">{{ idea.description }}</p>
      </div>
    </div>
    <div class="idea-discussion">
      <h4 class="heading--title__special">Discussion</h4>
      <div class="comments">Feature coming soon</div>
    </div>
  </div>
</div>

<!--
  <div
    fxFill
    *ngIf="isLoading"
    fxLayout="column"
    fxFlex="70"
    fxLayoutAlign="center"
    fxLayoutGap="1.5rem"
    class="idea-block mat-typography"
  >
    <div class="idea-title">
      <div class="idea-name">
        <h1 class="content-main-header"></h1>
      </div>

      <div class="idea-owner">
        <h3>by {{ idea.owner }}</h3>
      </div>
    </div>

    <h2 class="content-header">Description</h2>
    <p class="p-content">{{ idea.description }}</p>

    <app-liking [likes]="idea.upvotes" [ideaId]="idea.id"></app-liking>

    <h2 class="content-header">Comments</h2>

    <div class="coming-soon-content">Feature coming soon.</div>
    <app-comments [ideaId]="idea.id"></app-comments>
  </div>
-->
