@import "../../../sass/declarations";

:host {
  width: 100%;
}

.background {
  min-height: 100vh;
  background-color: darken($color-white, 10%);
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  box-shadow: $shadow-light;

  overflow: hidden;

  &--idea {
    width: 80rem;
    background-color: white;
    min-height: 40rem;
    padding: 3rem;
    font-size: 1.6rem;
    border-radius: $radius-small;
    display: flex;
    align-items: stretch;

    @media (max-width: $bp-6) {
      flex-direction: column;
    }
  }
}

.idea-description {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  margin-right: 3rem;
}

.idea-discussion {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.comments {
  flex-grow: 1;
  background-color: #fafafa;
  border-radius: 0.2rem;

  font-size: 1.4rem;
  font-style: italic;
  color: darken($color: #dedede, $amount: 30%);

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $bp-6) {
    padding: 2rem 0;
  }
}

/* .idea-block {
  margin: 0 auto;
  margin-top: 5%;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0px 0px 10px #bbb;
}

.idea-title {
  margin: 0;
}

.content-main-header {
  margin-bottom: 5px;
  font-size: 2rem;
  display: inline-block;
}

.content-header {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.content-header::after {
  display: block;
  content: "";
  height: 3px;
  width: 5%;
  background-color: #3498db;
  margin-bottom: 10px;
  border-radius: 5px;
}

.coming-soon-content {
  content: "";
  color: #aaa;
  font-size: 1rem;
  font-style: italic;
}
 */
