<div
  fxFill
  *ngIf="isLoading"
  fxLayout="column"
  fxFlex="70"
  fxLayoutAlign="center"
  fxLayoutGap="1.5rem"
  class="idea-block mat-typography"
>
  <div class="idea-title">
    <div class="idea-name">
      <h1 class="content-main-header">{{ idea.idea_name }}</h1>
    </div>

    <div class="idea-owner">
      <h3>by {{ idea.owner }}</h3>
    </div>
  </div>

  <h2 class="content-header">Description</h2>
  <p class="p-content">{{ idea.description }}</p>

  <app-liking [likes]="idea.upvotes" [ideaId]="idea.id"></app-liking>

  <h2 class="content-header">Comments</h2>

  <div class="coming-soon-content">Feature coming soon.</div>
</div>
