<div fxFill *ngIf="isLoading" fxLayout="column" fxFlex="80" fxLayoutAlign="center" fxLayoutGap="1.5rem" class="idea-block mat-typography">
  <div fxLayout="row">
    <h1>{{idea.id}}</h1>
  </div>
  <div fxLayout="row">
    <h2>
      by {{idea.owner}}
    </h2>
  </div>
  <div fxLayout="row">
      <div fxLayout="column" fxFill fxFlex="50">
  <h2>Description</h2>
  {{ idea.description }}
      </div>
      <div fxLayout="column" fxFill fxFlex="50">
  <h2>Comments</h2>
      </div>
  </div>
  <div fxlayout="row">
Tags: 
  </div>
</div>