<!-- eslint-disable -->
<!DOCTYPE html>
<html>
<head>
    <title>Warehaus profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-profile"></span> Details</h3>

                    <p>
                        <strong>id</strong>: <%= user.profile_id %><br>
                        <strong>token</strong>: <%= user.token %><br>
                        <strong>email</strong>: <%= user.email %><br>
                        <strong>name</strong>: <%= user.name %>
                    </p>

            </div>
        </div>

    </div>

</div>
</body>
</html>
