@import "../../../sass/declarations";

:host {
  width: 100%;
}

.background {
  min-height: 90vh;
  //background-color: darken($color-white, 10%);
  background-color: white;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $bp-6) {
    background-color: white;
  }
}

.container {
  //box-shadow: $shadow-light;

  overflow: hidden;

  &--add-project {
    width: 75%;
    height: 60rem;
    padding: 3rem 4rem;
    font-size: 1.6rem;

    border-radius: $radius-large;
    display: flex;
    justify-content: center;
    align-items: stretch;

    box-shadow: 0 0 2rem #ededed;

    h1 {
      margin-bottom: 2rem;

      @media (max-width: $bp-6) {
        margin-bottom: 4rem;
      }
    }

    @media (max-width: $bp-6) {
      flex-direction: column;
      width: 100%;
      padding: 1rem 1rem;
      height: auto;
      box-shadow: none;
    }
  }
}

.form {
  width: 100%;
  font-size: 1.3rem;

  ::ng-deep .mat-step-label {
    font-size: 2rem;
  }

  ::ng-deep input.mat-input-element {
    font-size: 1.6rem;
  }
}

.description {
  width: 60%;

  @media (max-width: $bp-6) {
    width: 90%;
  }
}

.text {
  width: 40%;

  @media (max-width: $bp-6) {
    width: 90%;
  }
}

.content {
  flex: 0 0 60%;
  margin-right: 5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  overflow-x: hidden;
  overflow-y: scroll;

  @media (max-width: $bp-6) {
    flex: 0 0 100%;
    margin-right: 0;
  }
}

.picture {
  flex-grow: 1;

  background-image: url(../../../assets/images/add-project.jpg);
  background-size: cover;
  background-position: center;

  border-radius: 1rem;

  @media (max-width: $bp-6) {
    display: none;
  }
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}
