.header-image {
  width: 13px;
  height: 13px;
  margin: 10px 25px;
}

.card-header {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.padding-25 {
  padding: 25px 25px 0 25px;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

.review-answers {
  margin: 10px 0;
}

.flex-center img {
  width: 300px;
}
