<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Google Login</title>
</head>
<body>
    
</body>

<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyBe189io0Yd39vPGVs0IpV4f0Va3CTzo5c",
    authDomain: "warehaus-204903.firebaseapp.com",
    databaseURL: "https://warehaus-204903.firebaseio.com",
    projectId: "warehaus-204903",
    storageBucket: "warehaus-204903.appspot.com",
    messagingSenderId: "921895365692"
  };
  firebase.initializeApp(config);

  var provider = new firebase.auth.GoogleAuthProvider();

  firebase.auth().signInWithPopup(provider).then(function(result) {
    var token = result.credential.accessToken;
    var user = result.user;
    window.location = '/loggedin';
  }).catch(function(error) {
    var errorCode = error.code;
    var errorMessage = error.message;
    var email = error.email;
    var credential = error.credential;
  });
</script>
</html>