<h1>Add Issue</h1>
<div>
  <form>
    <mat-form-field>
      <mat-select [formControl]="checkpointName" placeholder="Select checkpoint" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let checkpoint of checkpoints" [value]="checkpoint"> {{checkpoint}} </mat-option>
      </mat-select>
      <mat-error *ngIf="checkpointName.hasError('required')">Please choose a checkpoint.</mat-error>
      <mat-hint></mat-hint>
    </mat-form-field>
    <td-text-editor [formControl]="issueText" [options]="options"></td-text-editor>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onNoClick()">No Thanks</button>
  <button mat-raised-button (click)="addIssue()" cdkFocusInitial>Add Issue</button>
</div>
-->
