@import "../../../../sass/declarations";

* {
  font-family: inherit;
}

:host {
  width: 100%;
}

.background {
  background-color: #efefef;
  position: relative;
  font-family: "Open Sans", sans-serif;

  @media (max-width: 37.5em) {
    padding: 0 0;
  }
}

.container {
  width: 75%;

  @media (max-width: 37.5em) {
    width: 90%;
  }
}

.profile-header {
  height: 35vh;
  background-image: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-header-info {
  background-color: white;
  height: 8rem;

  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media (max-width: 37.5em) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__user-card {
    height: 32rem;
    width: 30rem;
    background-color: white;

    border-radius: 1rem;
    box-shadow: 0px 0px 1rem #777788;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 37.5em) {
      display: none;
    }

    margin-right: 5rem;
    z-index: 1;
  }

  &__photo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;

    overflow: hidden;
  }

  &__username {
    font-weight: 600;
    font-size: 1.6rem;
  }

  &__name {
    font-size: 3rem;
    font-weight: 700;
  }
}

.main-body {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  margin-bottom: 5rem;

  .container {
    display: flex;
    justify-content: center;

    @media (max-width: 37.5em) {
      flex-direction: column;
    }
  }

  .side-info {
    flex: 0 0 30rem;
    margin-right: 5rem;

    @media (max-width: 37.5em) {
      margin-right: 0;
      padding-top: 3rem;
      order: 2;
    }

    padding-top: 15rem;

    & > *:not(:last-child) {
      margin-bottom: 2rem;
    }

    & > * {
      display: flex;
    }
  }

  .info_card {
    background-color: white;
    padding: 2rem;

    width: 100%;

    display: flex;
    flex-direction: column;

    font-size: 1.5rem;
    box-shadow: 0px 0px 0.5rem #aaaaaa;
    border-radius: 1rem;
    font-weight: 400;

    &--header {
      font-weight: 600;
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
  }

  .main-info {
    &__section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    @media (max-width: 37.5em) {
      order: 1;
      padding-bottom: 3rem;
      border-bottom: 1px solid #454545;
    }

    flex-grow: 1;
    margin-top: 2rem;

    &__projects {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      & > * {
        flex: 0 0 49%;
        margin: 1rem 0;

        @media (max-width: 37.5em) {
          flex: 0 0 100%;
        }
      }
    }

    h2 {
      margin: 2rem 0;
    }
  }

  .project_card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem #aaaaaa;
    padding: 2rem;

    font-size: 1.5rem;

    &--header {
      font-size: 1.7rem;
      margin-bottom: 1rem;
    }

    &--body {
      font-weight: 400;
    }
  }
}

.expand {
  position: absolute;
  top: 1.8rem;
  right: 2.7rem;

  img {
    height: 1.3rem;
  }
}

.see-more {
  text-decoration: none;
  color: $color-primary-dark;
  cursor: pointer;
  font-size: 1.6rem;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;

  @media (max-width: 37.5em) {
    margin-top: 1rem;
    justify-content: center;
  }
}

.social-icon {
  height: 2.5rem;
  width: auto;
  margin-right: 1rem;
  margin-bottom: 1rem;
  color: $color-primary-dark;
}
