<div class="background">
  <div class="profile-header">
    <div class="profile-header-cover"></div>

    <div class="profile-header-info">
      <div class="container">
        <div class="profile-header-info__user-card">
          <div class="profile-header-info__photo">
            <cl-image height="150" crop="scale" public-id="{{ user.profile_pic }}" secure="true"></cl-image>
          </div>

          <h3 class="profile-header-info__username">@{{ user.username }}</h3>
        </div>

        <div class="profile-header-info__name">{{ user.name }}</div>
      </div>
    </div>
  </div>

  <div class="main-body">
    <div class="container">
      <div class="side-info">
        <div class="info_card">
          <div class="info_card--header">Location</div>
          <div class="info_card--body">{{ user.location }}</div>
        </div>
        <div class="info_card">
          <div class="info_card--header">Bio</div>
          <div class="info_card--body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae esse eos officiis, nesciunt expedita deleniti
            explicabo quo! Nulla commodi reprehenderit recusandae ex cupiditate id eos porro repellat enim, maxime
            omnis!
          </div>
        </div>
        <div class="info_card">
          <div class="info_card--header">Tech Stack</div>
          <div class="info_card--body">
            <span *ngFor="let tech of user.technologies"> {{ tech }} </span>
          </div>
        </div>
      </div>

      <div class="main-info">
        <div class="main-info__section-header">
          <h2>PROJECTS</h2>
          <a href="#" class="see-more">See More</a>
        </div>
        <div class="main-info__projects">
          <div class="project_card">
            <div class="project_card--header">Project Name | Ideation</div>
            <div class="project_card--body">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident qui saepe nam, dicta omnis quidem
              velit voluptatem tempore? Repudiandae, id.
            </div>
            <a class="expand" href="#"><mat-icon>open_in_new</mat-icon></a>
          </div>
        </div>

        <div class="main-info__section-header">
          <h2>IDEAS</h2>
          <a href="#" class="see-more">See More</a>
          <!--goes to idea/feed with filter of this user's username-->
        </div>
        <div class="main-info__projects">
          <div class="project_card">
            <div class="project_card--header">Idea Name</div>
            <div class="project_card--body">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident qui saepe nam, dicta omnis quidem
              velit voluptatem tempore? Repudiandae, id.
            </div>
            <a class="expand" href="#"><mat-icon>open_in_new</mat-icon></a>
          </div>
          <div class="project_card">
            <div class="project_card--header">Idea Name</div>
            <div class="project_card--body">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident qui saepe nam, dicta omnis quidem
              velit voluptatem tempore? Repudiandae, id.
            </div>
            <a class="expand" href="#"><mat-icon>open_in_new</mat-icon></a>
          </div>
          <div class="project_card">
            <div class="project_card--header">Idea Name</div>
            <div class="project_card--body">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident qui saepe nam, dicta omnis quidem
              velit voluptatem tempore? Repudiandae, id.
            </div>
            <a class="expand" href="#"><mat-icon>open_in_new</mat-icon></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
