<div class="background">
  <div class="container container--user-profile">
    <div class="user-header">
      <div class="user-header__container">
        <div class="dp-l-container">
          <img class="dp-l-image" src="../../../../assets/images/background-login-register.png" />
        </div>
        <div class="user-header__container__name">
          <h2>Aayush Joglekar</h2>
          <h4>@aayushjoglekar</h4>
        </div>
      </div>
    </div>

    <div class="user-container">
      <div class="multi-tab-details">
        <div class="v-desktop">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Details">
              <ng-template matTabContent>
                <div class="tab-text">
                  <div class="block">
                    <h4 class="title">About Me</h4>
                    <p class="paragraph">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aperiam nam. Corrupti incidunt
                      atque ullam, distinctio suscipit perspiciatis sit cupiditate, sequi voluptatum, iste beatae
                      consectetur quos autem. Voluptas, consequatur sed.
                    </p>
                  </div>

                  <div class="block">
                    <h4 class="title">I am pretty good at</h4>
                    <div class="tech-stack">
                      <div class="tech-stack__item">ReactJS</div>
                      <div class="tech-stack__item">SASS</div>
                      <div class="tech-stack__item">NodeJS</div>
                      <div class="tech-stack__item">Firebase</div>
                      <div class="tech-stack__item">ReactJS</div>
                      <div class="tech-stack__item">SASS</div>
                      <div class="tech-stack__item">NodeJS</div>
                      <div class="tech-stack__item">Firebase</div>
                    </div>
                  </div>

                  <div class="block"><h4 class="title">Contributions</h4></div>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Ideas">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
            <mat-tab label="Projects">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="v-mobile">
          <mat-tab-group mat-align-tabs="center">
            <mat-tab label="Details">
              <ng-template matTabContent>
                <div class="tab-text">
                  <div class="block">
                    <h4 class="title">About Me</h4>
                    <p class="paragraph">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem, aperiam nam. Corrupti incidunt
                      atque ullam, distinctio suscipit perspiciatis sit cupiditate, sequi voluptatum, iste beatae
                      consectetur quos autem. Voluptas, consequatur sed.
                    </p>
                  </div>

                  <div class="block">
                    <h4 class="title">I am pretty good at</h4>
                    <div class="tech-stack">
                      <div class="tech-stack__item">ReactJS</div>
                      <div class="tech-stack__item">SASS</div>
                      <div class="tech-stack__item">NodeJS</div>
                      <div class="tech-stack__item">Firebase</div>
                      <div class="tech-stack__item">ReactJS</div>
                      <div class="tech-stack__item">SASS</div>
                      <div class="tech-stack__item">NodeJS</div>
                      <div class="tech-stack__item">Firebase</div>
                    </div>
                  </div>

                  <div class="block"><h4 class="title">Contributions</h4></div>
                </div>
              </ng-template>
            </mat-tab>
            <mat-tab label="Ideas">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
            <mat-tab label="Projects">
              <ng-template matTabContent> <div class="tab-content">Coming Soon</div> </ng-template>
            </mat-tab>
            <mat-tab label="Contact">
              <ng-template matTabContent>
                <div class="tab-contact">
                  <div class="profile-details">
                    <div class="detail-block">
                      <mat-icon class="detail-block__icon">mail_outline</mat-icon> iit2017017@iiita.ac.in
                    </div>
                    <div class="detail-block">
                      <mat-icon class="detail-block__icon">location_on</mat-icon> Lucknow, India
                    </div>

                    <div class="detail-block"><mat-icon class="detail-block__icon">cake</mat-icon> 3rd March, 1999</div>

                    <div class="detail-block social-links">
                      <a href="#">
                        <img
                          matTooltip="@joglekaraayush"
                          class="social-icon"
                          src="../../../../assets/logos/social/facebook-logo.svg"
                        />
                      </a>

                      <a href="#">
                        <img
                          matTooltip="@zerefwayne"
                          class="social-icon"
                          src="../../../../assets/logos/social/twitter-logo.svg"
                        />
                      </a>

                      <a href="#">
                        <img
                          matTooltip="@zerefwayne"
                          class="social-icon"
                          src="../../../../assets/logos/social/github-logo.svg"
                        />
                      </a>
                    </div>
                  </div>
                </div>
              </ng-template>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="v-desktop">
        <div class="profile-details">
          <div class="detail-block">
            <mat-icon class="detail-block__icon">mail_outline</mat-icon> iit2017017@iiita.ac.in
          </div>
          <div class="detail-block"><mat-icon class="detail-block__icon">location_on</mat-icon> Lucknow, India</div>

          <div class="detail-block"><mat-icon class="detail-block__icon">cake</mat-icon> 3rd March, 1999</div>

          <div class="detail-block social-links">
            <a href="#">
              <img
                matTooltip="@joglekaraayush"
                class="social-icon"
                src="../../../../assets/logos/social/facebook-logo.svg"
              />
            </a>

            <a href="#">
              <img
                matTooltip="@zerefwayne"
                class="social-icon"
                src="../../../../assets/logos/social/twitter-logo.svg"
              />
            </a>

            <a href="#">
              <img matTooltip="@zerefwayne" class="social-icon" src="../../../../assets/logos/social/github-logo.svg" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
