@import "../../../../sass/declarations";

:host {
  width: 100%;
}

.background {
  min-height: 90vh;
  background-color: #efefef;
  position: relative;

  @media (max-width: 37.5em) {
    padding: 0 0;
  }
}

.container {
  width: 75%;
}

.profile-header {
  height: 38rem;
  background-image: linear-gradient(135deg, rgb(102, 126, 234) 0%, rgb(118, 75, 162) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.profile-header-info {
  background-color: white;
  height: 8rem;

  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__user-card {
    height: 32rem;
    width: 30rem;
    background-color: white;

    border-radius: 1rem;
    box-shadow: 0px 0px 1rem #777788;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-right: 5rem;
  }

  &__photo {
    height: 15rem;
    width: 15rem;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 2rem;

    img {
      height: 100%;
      width: auto;
    }
  }

  &__username {
    font-weight: bold;
    font-size: 1.6rem;
  }

  &__names {
    font-size: 3rem;
    font-weight: bold;
  }
}

body {
  background-color: pink;
}

.main-body {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    justify-content: center;
  }

  .side-info {
    width: 30rem;

    margin-right: 5rem;

    padding-top: 15rem;
  }

  .main-info {
    flex-grow: 1;
  }
}
