<div class="background">
  <div class="profile-header">
    <div class="profile-header-cover"></div>

    <div class="profile-header-info">
      <div class="container">
        <div class="profile-header-info__user-card">
          <div class="profile-header-info__photo"><img src="../../../../assets/user.png" /></div>

          <h3 class="profile-header-info__username">@aayushjoglekar</h3>
        </div>

        <div class="profile-header-info__names">Aayush Joglekar</div>
      </div>
    </div>
  </div>

  <div class="main-body">
    <div class="container">
      <div class="side-info">Side info</div>

      <div class="main-info">Main Info</div>
    </div>
  </div>
</div>
