<app-navbar></app-navbar>
<div id="background">
	<div class="card">
		<h2 class="heading">Add Idea</h2>
		<hr>
		<form [formGroup]="ideaFormGroup" (submit)="onIdeaSubmit()">
			<div class="container">
				<mat-form-field>
					<input matInput formControlName="idea_name" maxlength="30" placeholder="Your Idea (max 30 characters)">
				</mat-form-field>
				<mat-form-field>
					<textarea matInput formControlName="description" maxlength="500" rows="1" placeholder="Idea's description (max 500 characters)"></textarea>
				</mat-form-field>
				<button mat-raised-button type="submit" color="primary">Submit</button>
			</div>
		</form>
	</div>
</div>