<div *ngIf="isLoading" class="loader"><mat-spinner></mat-spinner></div>
<div *ngIf="unresolvedIssues + resolvedIssues" class="open-sans issue-tab">
  <div class="issue-list">
    <mat-tab-group>
      <div class="category-issue" *ngFor="let checkpoint of (issues | keyvalue)">
        <mat-tab label="{{ checkpoint.key }}">
          <mat-accordion>
            <section *ngFor="let issue of checkpoint.value">
              <mat-expansion-panel
                [expanded]="false"
                hideToggle
                *ngIf="issue.is_resolved"
                class="issue-expansion open-sans"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Issue # {{ issue.id }} </mat-panel-title>
                  Resolved<mat-icon>done</mat-icon>
                </mat-expansion-panel-header>
                <td-markdown> {{ issue.description }} </td-markdown>
                <mat-action-row>
                  <button mat-button color="warn" (click)="issueResolution(issue.id, false, checkpoint.key)">
                    Mark as Unresolved
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </section>
          </mat-accordion>

          <mat-accordion>
            <section *ngFor="let issue of checkpoint.value">
              <mat-expansion-panel
                [expanded]="true"
                hideToggle
                *ngIf="!issue.is_resolved"
                class="issue-expansion open-sans"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title> Issue # {{ issue.id }} </mat-panel-title>
                  Not Resolved<mat-icon>clear</mat-icon>
                </mat-expansion-panel-header>
                <td-markdown> {{ issue.description }} </td-markdown>
                <app-comments [activityId]="issue.id" [activityType]="'issue'"></app-comments>
                <mat-action-row>
                  <button mat-button color="primary" (click)="issueResolution(issue.id, true, checkpoint.key)">
                    Mark as Resolved
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            </section>
          </mat-accordion>
        </mat-tab>
      </div>
    </mat-tab-group>
  </div>
  <div class="checkpoint-nav flex-1 hide-mobile">
    <div class="nav-container">
      <mat-card>
        <div class="flex-align">
          <div class="flex-center issue-icon green"><i class="fa fa-exclamation"></i></div>
          <div style="margin-left:10px;">
            <div>Issues Opened</div>
            <div class="font-1 green">{{ unresolvedIssues }}</div>
          </div>
        </div>
      </mat-card>
      <mat-card>
        <div class="flex-align">
          <div class="flex-center issue-icon green"><i class="fa fa-chain-broken"></i></div>
          <div style="margin-left:10px;">
            <div>Issues Resolved</div>
            <div class="font-1 green">{{ resolvedIssues }}</div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
<div *ngIf="!(unresolvedIssues + resolvedIssues)">
  <div class="flex-center">
    <img class="no-issue" src="../../../../assets/not_found.svg" />
  </div>
  <div class="font-1 center-divs open-sans">
    You haven't opened any issues till now. Click on "Add Issue" button and ask mentors.
  </div>
</div>
