<!-- <div *ngIf="activeCheckpoint === 'Home'">
  <div class="project-dashboard">
    <div class="project-dashboard__header">
      <div class="project-dashboard__info">
        <h1 class="project-dashboard__name">{{ projectDetails.project_name }}</h1>

        <h3 class="project-dashboard__origin">
          <span *ngIf="projectDetails.created_on">
            Created on <span class="text-bold">{{ projectDetails.created_on | date }}</span>
          </span>
          <span *ngIf="projectDetails.owner">
            by <span class="text-bold" ng-if="projectDetails.owner">{{ projectDetails.owner }}</span>
          </span>
        </h3>
      </div>
      <button mat-raised-button (click)="initAddIssueDialogue()" style="border-radius: 30px;">
        <mat-icon>library_add</mat-icon> Add Issue
      </button>
    </div>

    <div class="project-dashboard__content">
      <div class="project-dashboard__cards">
        <div class="project-dashboard__card">
          <div class="project-dashboard__card__title">Description</div>
          <td-markdown class="project-dashboard__card__text"> {{ projectDetails.description }} </td-markdown>
        </div>

        <div class="project-dashboard__card">
          <div class="project-dashboard__card__title">Contributors</div>
          <div class="project-dashboard__card__wrap">
            <span *ngIf="projectDetails.owner; else elseBlock">
              <div class="collab">
                <div class="collab__photo"><img src="../../../../assets/user.png" class="thumbnail" /></div>
                <div class="collab__name">{{ projectDetails.owner }}</div>
              </div>
            </span>
            <ng-template #elseBlock>Nothing to show</ng-template>
          </div>
        </div>
      </div>

      <div class="project-dashboard__stats">
        <div class="project-dashboard__card__title">Stats</div>
        <ul>
          <li>
            <div class="key">Watching:</div>
            <div class="value">{{ projectDetails.watching || 0 }}</div>
          </li>

          <li>
            <div class="key">Checkpoints:</div>
            <div class="value">0</div>
          </li>
          <li>
            <div class="key">Issues Open:</div>
            <div class="value">6</div>
          </li>
          <li>
            <div class="key">Issues Resolved:</div>
            <div class="value">14</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div *ngIf="activeCheckpoint !== 'Home'">
  <div class="panel-main__heading">
    <div class="panel-main__topic">{{ activeCheckpoint }}</div>
    <button mat-raised-button (click)="initAddIssueDialogue()" style="border-radius: 30px;">
      <mat-icon>library_add</mat-icon> Add Issue
    </button>
  </div>

  <div class="panel-main__issues" *ngFor="let issue of issues">
    <app-detached-issue [issue]="issue" [projectId]="projectId"></app-detached-issue>
  </div>
</div>
-->
lol
