<div *ngIf="idea" class="modal-container">
  <div class="portion">
    <h1 class="idea-heading">{{ idea.idea_name }}</h1>
    <app-user-name
      [username]="idea.userByowner.username"
      [time]="idea.timestamp"
      [isMentor]="idea.userByowner.is_mentor"
    ></app-user-name>
    <p class="idea-description">{{ idea.description }}</p>
    <span
      >Tags: <span *ngFor="let tags of idea.tagsLinkssByideaId">{{ tags.tagsBytagId.tag_name }}</span></span
    >
    <h3>Platforms: {{ idea.platform }}</h3>
  </div>
  <div class="portion"><app-comments [activityType]="'idea'" [activityId]="idea.id"></app-comments></div>
</div>
