<div class="profile-project-page">
  <div class="page-header">
    <div class="profile-heading">Ideas</div>
  </div>
  <div class="page-data">
    <div class="idea-feed-data">
      <mat-card class="idea-card" *ngFor="let idea of ideasList">
        <div class="idea-card-details">
          <div class="idea-card-project-name">{{ idea.idea_name }}</div>
          <div class="idea-card-project-description">
            {{ idea.description }}
          </div>
        </div>
        <div class="idea-card-links">
          <div class="idea-card-icons pointer">
            <app-like [ideaId]="idea.id" [upvotes]="idea.upvotes" class="icon"></app-like>
            <mat-icon class="icon" [routerLink]="['/view/feed/ideas', idea.id]">comment</mat-icon> 98
            <mat-icon class="icon" (click)="openShareSheet()">share</mat-icon>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <mat-progress-bar mode="query" [ngClass]="{ hidden: !isLoading }" style="margin-bottom: 30px;"></mat-progress-bar>
</div>
<router-outlet></router-outlet>
