.add-mentor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: white;
}

.add-mentor-right {
  height: 100%;
  flex: 1.55;
  display: flex;
  background: #737373;
  justify-content: center;
}

.add-mentor-right > img {
  width: 65%;
}

.add-mentor-left {
  display: flex;
  flex: 1;
  justify-content: center;
}

.add-mentor-heading {
  margin-bottom: 1rem;
}

.add-mentor-stepper {
  display: flex;
  justify-content: flex-end;
}

.already-applied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.already-applied > img {
  width: 30%;
  margin-bottom: 30px;
}
