.modal-container {
  background-color: rgb(247, 247, 247);
}

modal-dialog-container {
  background-color: rgb(247, 247, 247) !important;
}

.project-heading {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}

.project-basic-info {
  width: 100%;
  margin-left: 30px;
}

.img-box {
  display: flex;
  align-items: center;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
}

.project-abstract {
  font-size: 1rem;
  color: #5c5c5c;
}

.project-buttons {
  display: flex;
  flex-direction: column;
  width: 150px;
}

.project-btn {
  color: white;
  width: 100%;
  padding: 8px;
}

.orange-btn {
  background-color: orange;
}

@media (max-width: 870px) {
  .project-heading {
    flex-direction: column;
  }
}
