<div class="heading">
  Review Submission
  <span style="font-size:1.5rem;">
    |
    {{
      data.context
        .split('_')
        .join(' ')
        .charAt(0)
        .toUpperCase() +
        data.context
          .split('_')
          .join(' ')
          .slice(1)
    }}</span
  >
</div>
<div class="info-text" *ngIf="data.context !== 'waiting'">
  Apply for the next stage? All the best from <b>Cynthesize</b>! Make sure that you answer the questions fully and upto
  the mark.
</div>
<div class="review-modal flex-column" *ngIf="data.context !== 'waiting'">
  <div class="flex-1 flex-center image-container">
    <img src="../../../../assets/stages/{{ data.context }}.svg" />
  </div>
  <div class="flex-center flex-1 font-1 flex-column">
    <div *ngIf="errorMessage" class="flex-center" style="color: red;">
      <i>{{ errorMessage }}</i>
    </div>
    <form [formGroup]="reviewForm" (ngSubmit)="submitReviewForm()">
      <mat-horizontal-stepper [linear]="true" #stepper>
        <mat-step *ngFor="let control of (questionsObject | keyvalue); let i = index" label="Ques {{ i + 1 }}">
          Question {{ i + 1 }} of {{ totalQuestions }}
          <div>{{ control.value }}</div>
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Your answer..." [formControlName]="control.key" required></textarea>
          </mat-form-field>
          <div class="flex-end">
            <button mat-button matStepperPrevious type="button" *ngIf="i !== 0">Back</button>
            <button mat-button matStepperNext type="button" *ngIf="i !== totalQuestions - 1">Next</button>
            <button
              mat-raised-button
              matStepperNext
              type="button"
              (click)="submitReviewForm()"
              *ngIf="i === totalQuestions - 1"
            >
              Submit for review
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </form>
  </div>
</div>

<div class="waiting" *ngIf="data.context === 'waiting'">
  <img src="../../../../assets/images/waiting.svg" />
  <div class="open-sans font-1">Good luck for your submission... Mentors are reviewing your answers.</div>
</div>
