<div class="container">
  <div class="issue-info">
    <div class="issue-info__link">#1</div>
    <div class="issue-info__time">27-12-2018</div>
  </div>

  <div class="issue-text">
    <!-- Enter the HTML recieved from WYSIWIG here -->

    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore facilis similique odit aliquid eligendi laboriosam
    repudiandae quam veritatis, harum officia, ratione neque quas natus quibusdam alias hic, id libero doloribus! Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Obcaecati ipsa nostrum odio est ea, nulla pariatur. Laudantium
    totam eius repudiandae iste, saepe illum commodi quidem suscipit architecto aspernatur, quibusdam labore.
  </div>

  <div class="issue-comments">
    <h4 class="issue-comments__heading">DISCUSSION</h4>

    <div class="issue-comments__list">
      <app-comments></app-comments>
      <app-comments></app-comments>
    </div>
  </div>
</div>
