<div class="container">
  <div class="issue-info">
    <div class="issue-info__link">#1</div>
    <div class="issue-info__time">27-12-2018</div>
  </div>

  <div [froalaView]="editorContent" class="issue-text"><!-- Enter the HTML recieved from WYSIWIG here --></div>
  <div [froalaEditor] [(froalaModel)]="editorContent" name="thistext"></div>

  <div class="issue-comments">
    <h4 class="issue-comments__heading">DISCUSSION</h4>

    <div class="issue-comments__list">
      <app-comments></app-comments>
      <app-comments></app-comments>
    </div>
  </div>
</div>
