<div *ngIf="comment">
  <div class="comment-info">
    <div class="user-icon">
      <cl-image height="45" crop="scale" public-id="{{ comment.user.profile_pic }}" secure="true"></cl-image>
    </div>
    <div class="user-name">
      <p style="font-size: 1rem; font-weight: 600;">{{ comment.user.username }}</p>
      <p style="font-size: 0.7rem;">Some text that would make sense.</p>
    </div>
  </div>
  <div class="comment-text-box">
    <p class="comment-text">
      {{ comment.comment_text }}
    </p>
    <div class="comment-icons">
      <app-like [activityId]="comment.id" [activityType]="'comment'" [likes]="comment.likes" class="icon"></app-like>
      <mat-icon class="icon">reply</mat-icon> Reply
    </div>
  </div>
</div>

<div *ngIf="reply" style="margin-left:70px">
  <div class="comment-info">
    <div class="user-icon">
      <cl-image height="45" crop="scale" public-id="{{ reply.userByrespondent.profile_pic }}" secure="true"></cl-image>
    </div>
    <div class="user-name">
      <p style="font-size: 1rem; font-weight: 600;">{{ reply.userByrespondent.username }}</p>
      <p style="font-size: 0.7rem;">Some text that would make sense.</p>
    </div>
  </div>
  <div class="comment-text-box">
    <p class="comment-text">
      {{ reply.reply_text }}
    </p>
    <div class="comment-icons">
      <app-like [activityId]="reply.id" [activityType]="'reply'" [likes]="reply.likes" class="icon"></app-like>
      <mat-icon class="icon">reply</mat-icon> Reply
    </div>
  </div>
</div>
