<div id="background">
    <div id="top">

    </div>
</div>

<div id="card">
    <h2 class="company-title">
        STARTUP<strong>X</strong>
    </h2>
    <h4 class="welcome">We're glad to see you again!</h4>
    
    <form (ngSubmit)="onLogin()" novalidate>
            
            <mat-form-field>
                    <input matInput placeholder="Email" [(ngModel)]="user.email" name="email" required>
            </mat-form-field>
            <br>
            <mat-form-field>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password" name="password" required>
                    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            </mat-form-field>
            <br>
            <button type="submit" mat-raised-button>Login</button>
    
    </form>

</div>