<div class="addidea-background">
  <div class="addidea-add-idea-container">
    <div class="addidea-form-container">
      <h1 class="addidea-mb-l">Add Idea</h1>

      <form class="addidea-add-idea-form" (ngSubmit)="addIdea()" [formGroup]="addIdeaForm" novalidate>
        <mat-form-field class="addidea-input">
          <input
            type="text"
            class="addidea-input__text"
            matInput
            formControlName="idea_name"
            [autocomplete]="false"
            placeholder="Add an idea name."
            required
          />
          <mat-error *ngIf="addIdeaForm.controls.idea_name.valid || addIdeaForm.controls.idea_name.untouched">
            <span translate>Idea Name is required!</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="addidea-input">
          <input
            type="text"
            matInput
            formControlName="description"
            autocomplete="description"
            placeholder="Add a brief description about the idea."
            required
            minlength="50"
          />
          <mat-error *ngIf="addIdeaForm.controls.description.valid || addIdeaForm.controls.description.untouched">
            <span translate>Description is required!</span>
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          class="addidea-submit-button"
          type="submit"
          [disabled]="addIdeaForm.invalid || isLoading"
        >
          <span translate>Add Idea</span>
        </button>
      </form>
    </div>
    <div class="addidea-artwork-container"><img src="../../../assets/images/add-issue.svg" /></div>
  </div>
</div>
