<div *ngIf="user">
  <div class="banner"></div>
  <div class="user">
    <div class="info-bar">
      <img [src]="user.profile_pic" class="image" />
      <mat-card>
        <div class="info-detail"><mat-icon>person</mat-icon>{{ user.bio }}</div>
        <div class="info-detail"><mat-icon>email</mat-icon>{{ user.email }}</div>
        <div class="info-detail"><mat-icon>person_pin</mat-icon>{{ user.location }}</div>
        <div class="info-detail"><mat-icon>public</mat-icon>{{ user.website }}</div>
      </mat-card>
    </div>
    <div class="userinfo">
      <div class="name">
        <span style="font-size: 3rem; color: black;">{{ user.name }}</span>
        <span style="font-size: 1rem; color: black;">{{ user.username }}</span>
        <mat-icon class="pointer" (click)="editingProfile = true">edit</mat-icon>
        <div class="contribution">
          <div class="header-icons"></div>
          <app-projects></app-projects>
        </div>
      </div>
    </div>
  </div>
</div>
