<div class="container" *ngIf="user">
  <mat-card class="profile-header">
    <div class="header-info">
      <div class="image">
        <cl-image height="200" crop="scale" public-id="{{ user.profile_pic }}" secure="true"></cl-image>
      </div>
      <mat-icon *ngIf="isSameUser" [routerLink]="'/user/' + username + '/edit'">edit</mat-icon>
      <div class="short-detail">
        <div class="full-name">{{ user.username }}</div>
        <div class="bio">{{ user.bio }}</div>
      </div>
    </div>
  </mat-card>
  <div class="profile-icons">
    <div class="header-icons">
      <div id="profile" [routerLink]="['/user', username]" [ngClass]="{ 'link-active': checkRoute() }">
        <img src="../../../../assets/images/profile.svg" />PROFILE
      </div>
      <div id="project" [routerLink]="['/user', username, 'projects']" routerLinkActive="link-active">
        <img src="../../../../assets/images/briefing.svg" />My Projects
      </div>
      <div id="idea" [routerLink]="['/user', username, 'community']" routerLinkActive="link-active">
        <img src="../../../../assets/images/idea.svg" />Community
      </div>
    </div>
  </div>
</div>
<div class="profile-project-page container">
  <div *ngIf="checkRoute()">
    <app-details [user]="user"></app-details>
  </div>
  <router-outlet></router-outlet>
</div>
