<div class="container">
  <div class="page">
    <div class="page-header">
      <div class="page-heading">PROJECTS</div>
    </div>
    <div class="page-search">
      <div class="page-search-box">
        <mat-form-field appearance="fill">
          <mat-label>Search Launched Projects</mat-label>
          <input matInput />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="page-sort">
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'popular' }"
          (click)="changeContext('popular')"
          >POPULAR</span
        >
        &nbsp;|&nbsp;
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'newest' }"
          (click)="changeContext('newest')"
          >NEWEST</span
        >
      </div>
    </div>
    <div class="page-data">
      <mat-card *ngFor="let project of projectList" class="launched-project-page-card">
        <div class="card">
          <div><img class="project-icon" [src]="project.icon" /></div>
          <div class="card-details">
            <div class="card-project-name">
              {{ displayableName(project.project_name) }}
              <span *ngFor="let tag of project.tagsLinkssByprojectId" class="tags">
                {{ tag.tagsBytagId.tag_name }}
              </span>
            </div>
            <div class="card-project-description">
              {{ project.abstract }}
              <br />
              Started: {{ project.created_on | timeDiff }}
            </div>
          </div>
          <div class="card-links">
            <div>
              <a href="{{ project.website }}" target="_blank">
                <button mat-raised-button style="width: -webkit-fill-available;">Visit</button>
              </a>
            </div>
            <app-activity-actions
              [id]="project.id"
              [type]="'project'"
              [parentProjectId]="project.parent_project_id"
              [likes]="project.likes"
              [url]="'/view/feed/projects/' + project.project_name"
            ></app-activity-actions>
          </div>
        </div>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> <b>Required</b> </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <div *ngFor="let role of project.roles_opened" class="apply-role">
              {{ role }}
              <div *ngIf="applying" class="apply-role">
                <mat-form-field appearance="outline">
                  <mat-label>Want to add something more?</mat-label>
                  <input matInput [(ngModel)]="additionalInfo" />
                </mat-form-field>
                <button mat-icon-button (click)="applyForCollab(role, project.id)">
                  <mat-icon> done </mat-icon>
                </button>
                <button mat-icon-button (click)="applying = false">
                  <mat-icon> cancel </mat-icon>
                </button>
              </div>
              <button mat-button (click)="applying = true">Collaborate!</button>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-card>
    </div>
  </div>
  <mat-progress-bar mode="query" [ngClass]="{ hidden: !isLoading }" style="margin-bottom: 30px;"></mat-progress-bar>
</div>
<router-outlet></router-outlet>
