<div class="description-container">
  <div class="left-column">
    <mat-card>
      <div class="left-container">
        <div class="home-content flex-center project-decription">
          <h1>Description</h1>
          <button mat-raised-button *ngIf="!editingDescription && canEdit" (click)="editingDescription = true">
            Edit
          </button>
          <button mat-raised-button *ngIf="editingDescription" (click)="updateDescription(project.id, $event)">
            Save
          </button>
          <button mat-raised-button *ngIf="editingDescription" (click)="editingDescription = false">Cancel</button>
        </div>
        <form [formGroup]="descriptionDataForm" (ngSubmit)="updateDescription()">
          <div class="description-fields">
            <b>We help X to Y by doing Z.</b>
            <div class="description-text" *ngIf="!editingDescription">
              {{ project.project_descriptions[0].xyz || 'Not entered' }}
            </div>
            <mat-form-field appearance="outline" *ngIf="editingDescription">
              <input matInput formControlName="xyz" value="{{ project.project_descriptions[0].xyz }}" />
            </mat-form-field>
          </div>
          <div class="description-fields">
            <b>What we bring new to the market?</b>
            <div class="description-text" *ngIf="!editingDescription">
              {{ project.project_descriptions[0].distinguishing_factor || 'Not entered' }}
            </div>
            <mat-form-field appearance="outline" *ngIf="editingDescription">
              <input
                matInput
                formControlName="distinguishing_factor"
                value="{{ project.project_descriptions[0].distinguishing_factor }}"
              />
            </mat-form-field>
          </div>
          <div class="description-fields">
            <b>What about your project makes it's users go 'Woah!'?</b>
            <div class="description-text" *ngIf="!editingDescription">
              {{ project.project_descriptions[0].wow_factor || 'Not entered' }}
            </div>
            <mat-form-field appearance="outline" *ngIf="editingDescription">
              <input matInput formControlName="wow_factor" value="{{ project.project_descriptions[0].wow_factor }}" />
            </mat-form-field>
          </div>
          <div class="description-fields">
            <b>Currently we've completed this much.</b>
            <div class="description-text" *ngIf="!editingDescription">
              {{ project.project_descriptions[0].progress || 'Not entered' }}
            </div>
            <mat-form-field appearance="outline" *ngIf="editingDescription">
              <input matInput formControlName="progress" value="{{ project.project_descriptions[0].progress }}" />
            </mat-form-field>
          </div>
          <div class="description-fields">
            <b>This is how we can earn money.</b>
            <div class="description-text" *ngIf="!editingDescription">
              {{ project.project_descriptions[0].revenue_model || 'Not entered' }}
            </div>
            <mat-form-field appearance="outline" *ngIf="editingDescription">
              <input
                matInput
                formControlName="revenue_model"
                value="{{ project.project_descriptions[0].revenue_model }}"
              />
            </mat-form-field>
          </div>
          <div class="description-fields">
            <b>Why would people want this project?</b>
            <div class="description-text" *ngIf="!editingDescription">
              {{ project.project_descriptions[0].why_product || 'Not entered' }}
            </div>
            <mat-form-field appearance="outline" *ngIf="editingDescription">
              <input matInput formControlName="why_product" value="{{ project.project_descriptions[0].why_product }}" />
            </mat-form-field>
          </div>
        </form>
        <div class="home-content project-progress">
          <div class="project-home-heads">
            <h1>Progress</h1>
            <button mat-raised-button *ngIf="canEdit" (click)="openReviewModel()">Submit for review</button>
          </div>
          <app-project-progress [currentStage]="this.project.current_stage"></app-project-progress>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="right-column">
    <app-project-timeline
      [timeline]="project['project_events'][0]['timeline']"
      [projectId]="project.id"
    ></app-project-timeline>
  </div>
</div>

<style>
  .home-content {
    margin: 10px;
    justify-content: space-between;
  }
  .description-fields {
    display: flex;
    align-items: center;
    font-size: initial;
    margin: 5px 0;
  }
  .description-fields b {
    margin: 5px;
    flex: 1;
  }
  .description-text {
    margin: 5px;
    flex: 2;
  }
  .description-fields mat-form-field {
    flex: 2;
  }
  .description-container {
    display: flex;
    justify-content: space-between;
  }
  .left-column {
    flex: 3;
    margin-right: 20px;
  }
  .right-column {
    flex: 1;
  }
  .project-home-heads {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

<!-- <mat-card class="project-home-card">
    <div class="progress-heading">
      <h1>Community Collaboration</h1>
      <button mat-raised-button (click)="askForCollboration()">Ask for Collaboration</button>
    </div>
    <div *ngIf="openingRoles">
      <p>Add names for the roles you want other developers/designers/contributers to see. Add proper punctuation.</p>
      <form [formGroup]="rolesDataForm">
        <div class="add-event">
          <mat-form-field appearance="outline">
            <mat-label>Separate using commas (,)</mat-label>
            <input matInput formControlName="roles" />
          </mat-form-field>
          <button mat-icon-button (click)="addRoles()">
            <mat-icon> done </mat-icon>
          </button>
          <button mat-icon-button (click)="openingRoles = false">
            <mat-icon> cancel </mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div>
      <p><span>Roles Open: </span><i *ngIf="!project.roles_opened">Currently you have no roles open.</i></p>
      <p *ngFor="let role of project.roles_opened">{{ role }}</p>
    </div>
  </mat-card> -->
