.home-content {
  margin: 10px;
  justify-content: space-between;
}

.description-fields {
  display: flex;
  align-items: center;
  font-size: initial;
  margin: 5px 0;
}

.description-fields b {
  margin: 5px;
  flex: 1;
}

.description-text {
  margin: 5px;
  flex: 2;
}

.description-fields mat-form-field {
  flex: 2;
}

.description-container {
  display: flex;
  justify-content: space-between;
}

.left-column {
  flex: 3;
  margin-right: 20px;
}

.right-column {
  flex: 1;
}

.project-home-heads {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
