.container {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}

.banner-card {
  max-width: 100%;
}

.banner-image {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 370px;
  overflow: hidden;
  background-color: blue;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

.checkpoint-name {
  font-size: 3rem;
}

.progress-heading {
  display: flex;
  justify-content: space-between;
}

.project-home-card {
  margin: 10px;
}

.project-home-card .progress-heading {
  margin: 10px;
}

.issue-expansion {
  border: 1px #dddddd solid;
}
