
<div *ngIf="auth.user | async; then newsfeed else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6">
			<h3>Howdy, GUEST</h3>
			<p>Login to get started...</p>

			<button (click)="auth.googleLogin()">
			  <i class="fa fa-google"></i> Connect Google
			</button>
			<button (click)="auth.githubLogin()">
			  <i class="fa fa-google"></i> Connect Github
			</button>
		</div>
	</div>
</ng-template>


<!-- User logged in -->
<ng-template #newsfeed>
	
	<app-newsfeed></app-newsfeed>
</ng-template>
