    <!--
    <div class="card-body">
      <h5 class="card-title idea-title">Card title</h5>
      <h6 class="idea-creator">by <strong>WickedBrat</strong></h6>
      <hr>
      <p class="card-text idea-description text-left">This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.<a href="#">...more</a></p>
    </div>
    <div class="card-footer">
      <div class="idea-likes" style="float: left;">
          <button mat-raised-button color="primary"><i class="material-icons md-18">thumb_up</i>&nbsp;&nbsp;45</button>
      </div>
      <div class="idea-time" style="float: right;">
          <p class="text-muted text-right">Last updated 3 mins ago</p>
      </div>

    </div>
  -->

  <mat-card class="example-card">
      <mat-card-header>

        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>by <strong>WicketBrat</strong> | 02 October 2018</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-flat-button color="primary"><i class="material-icons idea-button-icon md-24">thumb_up</i>&nbsp;&nbsp;24

        </button>

      </mat-card-actions>
    </mat-card>
