.card-footer{
    background-color:#ffffff;
}

.idea-description{
  color:#777;
  font-size:90%;
}

.idea-title{
  display: inline-block;
}

.idea-creator{
  display: inline-block;
  font-size:80%;
  margin-left:30px;
}

.idea-time{
  font-size:75%;
}

mat-card{
  margin-bottom:10px;
}

.mat-card-title{
  font-size:140%;
}

.mat-card-subtitle{
  color:#555;
}

.idea-button-icon{
  font-size:130%;
}
