<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ idea_name }}</mat-card-title>
    <mat-card-subtitle>by <strong>{{ owner_name }}</strong> | 02 October 2018</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{ description }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="primary"><i class="material-icons idea-button-icon md-24">thumb_up</i>&nbsp;&nbsp;{{ likes }}
    </button>
  </mat-card-actions>
</mat-card>