:host {
  width: 100%;
}

.background {
  background: url(../../../assets/images/back-pattern.png);
  background-color: $color-primary-light;

  min-height: 100vh;
  position: relative;
}

.container {
  display: block;

  width: 75rem;
  position: absolute;
  @include absoluteCenter;
  box-shadow: $shadow-light;
  border-radius: $radius-medium;
  overflow: hidden;

  @media (max-width: $bp-8) {
    max-width: 100%;
  }

  @media (max-width: $bp-6) {
    top: 0;
    left: 0;
    height: 100%;
    transform: translate(0, 0);
  }

  &--login {
    min-height: 40rem;
    background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 50%, transparent 50%),
      url("../../../assets/images/image-login.jpg");
    background-size: cover;

    @media (max-width: $bp-6) {
      background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%),
        url("../../../assets/images/image-login.jpg");
    }
  }

  &--register {
    min-height: 50rem;
    background-image: linear-gradient(105deg, rgba($color-white, 1) 0%, rgba($color-white, 0.9) 50%, transparent 50%),
      url("../../../assets/images/image-register.jpg");
    background-size: cover;

    @media (max-width: $bp-6) {
      background-image: linear-gradient(105deg, rgba($color-white, 0.9) 0%, rgba($color-white, 0.9) 100%),
        url("../../../assets/images/image-register.jpg");
    }
  }
}

.form-box {
  width: 45%;
  height: 100%;
  color: $color-primary-text;
  padding: 4rem;
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $bp-6) {
    width: 100%;
    justify-content: space-around;
  }

  &__heading {
    flex: 0 0 20%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo {
      height: 4rem;
    }
  }

  &__form-login {
    flex: 1;
    font-size: 1.2rem;
    //background-color: orangered;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    align-self: stretch;

    @media (max-width: $bp-6) {
      justify-content: space-around;
    }
  }

  &__btn-login {
    align-self: center;
    padding: 0 3rem;

    @media (max-width: $bp-6) {
      margin-top: 2rem;
    }
  }

  &__btn-register {
    align-self: center;
    padding: 0 4rem;

    @media (max-width: $bp-6) {
      margin-top: 4rem;
    }
  }

  &__register-error {
    padding: 0.5rem 2rem;

    border: 1px solid #f44336;
    border-radius: 2rem;
    background-color: rgba(#f44336, 0.2);
    color: $color-primary-text;
  }

  &__input-field {
    width: 100%;
  }

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
  }

  &__remember {
    color: inherit;
    font-family: inherit;
    margin: 1rem 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: stretch;
  }
}
