<div class="background">
  <div class="panel-topics">
    <div class="project">
      <div class="project--logo"><img src="../../../assets/images/image-login.jpg" class="project--logo__image" /></div>
      <div class="project--name"><h2>An Awesome Project In Pipeline</h2></div>
      <div class="project--status">Status</div>
    </div>
    <div class="checkpoint-list">
      <h2 class="checkpoint-list__heading">
        Checkpoints
        <mat-icon>add_circle</mat-icon>
      </h2>

      <ul class="checkpoint-list__list">
        <li class="checkpoint-list__item">Design</li>
        <li class="checkpoint-list__item">Finance</li>
        <li class="checkpoint-list__item active">Momos</li>
        <li class="checkpoint-list__item">Deployment</li>
      </ul>
    </div>
  </div>
  <div class="panel-main">
    <div class="panel-main__heading">
      <div class="panel-main__topic">Momos</div>

      <div class="panel-main__add"><mat-icon>add</mat-icon> ADD ISSUE</div>
    </div>

    <div class="panel-main__issues">
      <app-issue></app-issue>
      <app-issue></app-issue>
    </div>
  </div>
  <div class="panel-description">
    <div class="project--description">
      <div class="project--description__heading">Description</div>
      <div class="project--description__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem quidem explicabo consequatur, eligendi minus
        reiciendis placeat expedita inventore officiis, sed illo possimus temporibus id facere ipsum veritatis. Ipsam,
        itaque! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Enim, asperiores! Natus numquam aut ducimus
        dolores! Ullam nam fugit a voluptas, minima pariatur excepturi, soluta nemo quia quaerat sunt delectus magnam.
      </div>
    </div>
  </div>
</div>
