<h1>Something not working right?</h1>
<h2>Inform us and help us improve <mat-icon>mood</mat-icon></h2>
<br />
<br />
<form (ngSubmit)="submitRequest()" [formGroup]="reqForm">
  <mat-label>Is this a bus? (Select "No", if you want a new feature ;) )</mat-label>
  <br />
  <mat-radio-group formControlName="is_bug">
    <mat-radio-button value="true">Yes</mat-radio-button>
    <br />
    <mat-radio-button value="false">No</mat-radio-button>
  </mat-radio-group>
  <mat-form-field appearance="outline">
    <mat-label>Type your request</mat-label>
    <input matInput formControlName="text" />
  </mat-form-field>
  <br />
  <button mat-raised-button>Submit</button>
</form>
