@import "../../../sass/declarations";

:host {
  width: 100%;
}

.viewproject-background {
  height: 100%;
  position: relative;

  display: flex;
}

.panel-topics {
  background-color: #2a2a2a;
  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;

  flex: 0 0 20%;
}

.panel-description {
  background-color: white;

  height: 100%;

  overflow-x: hidden;
  overflow-y: scroll;
  padding: 5rem 2rem 5rem 2rem;
  flex-grow: 1;
}

::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.project {
  min-height: 30rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  &--logo {
    height: 15rem;
    width: 15rem;
    background-color: #111111;
    border-radius: 50%;
    margin-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;

    &__image {
      height: 100%;
      width: auto;
    }
  }

  &--name {
    color: white;
    font-size: 1.2rem;
    line-height: 3rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  &--status {
    padding: 0.5rem 2rem;
    background-color: #111111;
    color: #eeeeee;
    border-radius: 400px;
    font-size: 1.3rem;
  }

  &--description {
    &__heading {
      text-transform: uppercase;
      font-size: 1.4rem;
      margin-bottom: 1rem;
      color: $color-primary-dark;
    }

    &__text {
      font-size: 1.3rem;
    }
  }
}

.checkpoint-list {
  text-align: center;
  color: white;

  &__heading {
    font-size: 2rem;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      margin-left: 1rem;
      color: #dddddd;
    }
  }

  &__list {
    margin-top: 2rem;
  }

  &__item {
    text-decoration: none;
    color: $color-primary-dark;
    font-size: 1.5rem;
    padding: 1rem 0;
    outline: none;
    cursor: pointer;

    &:nth-child(odd) {
      background-color: darken(#2a2a2a, 2%);
    }

    &:nth-child(even) {
      background-color: #2a2a2a;
    }
  }
}

.active {
  background-color: whitesmoke !important;
  color: $color-primary-dark;
}
