<div *ngIf="!project" class="loader">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="project" class="project-page">
  <!-- <div class="left-sidebar sidebar">
    <div class="left-padding">
      <div style="padding-right: 1rem;">
        <img [src]="project.icon" width="90px" />
        <div
          [routerLink]="['/view/project', project.id + '-' + project.project_name]"
          [routerLinkActiveOptions]="{ exact: true }"
          routerLinkActive="issue-link-active"
          class="cursor checkpoint"
        >
          Home
        </div>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="left-padding">
      <div
        *ngFor="let checkpoint of project.issuessByprojectId"
        [routerLink]="['/view/project', project.id + '-' + project.project_name, 'issues', checkpoint.checkpoint_name]"
        routerLinkActive="issue-link-active"
        class="checkpoint pointer open-sans left-sidebar-text-bottom"
      >
        #{{ checkpoint.checkpoint_name.toLowerCase() }}
      </div>
      <button mat-raised-button class="issue-button" (click)="openAddIssueDialog()">Add issue</button>
    </div>
  </div>

  <div class="content">
    <app-project-home [project]="project" *ngIf="issueActive"></app-project-home>
    <router-outlet></router-outlet>
  </div>

  <div class="right-sidebar sidebar">
    <app-project-timeline
      [timeline]="project['project_events'][0]['timeline']"
      [projectId]="project.id"
    ></app-project-timeline>
  </div> -->

  <div class="project-header">
    <div class="project-basic-info">
      <div class="project-icon"><img [src]="project.icon" width="190px;" /></div>
      <div class="project-header-info">
        <div class="project-header-container">
          <div class="project-header-name">
            {{ projectName }} <span class="project-platform">{{ project.platform }}</span>
          </div>
          <div class="project-user-info">
            Started {{ project.created_on | timeDiff }} by
            <a [routerLink]="['/user', project.user.username]">{{ project.user.username }}</a>
          </div>
          <div class="project-abstract">{{ project.abstract }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="project-buttons">
    <div class="ext-container">
      <button
        mat-button
        class="project-nav-button"
        [routerLink]="['/view/project', project.id + '-' + project.project_name]"
        routerLinkActive="router-link-active"
      >
        Home
      </button>
      <button
        mat-button
        class="project-nav-button"
        [routerLink]="['/view/project', project.id + '-' + project.project_name, 'issues']"
        routerLinkActive="router-link-active"
      >
        Opened Issues
      </button>
      <button mat-raised-button class="issue-button" (click)="openAddIssueDialog()">Add issue</button>
    </div>
  </div>
  <div class="ext-container">
    <app-project-home [project]="project" *ngIf="issueActive"></app-project-home>
    <router-outlet></router-outlet>
  </div>
</div>
