<!-- <mat-calendar [selected]="fnc(selectedDate)" (selectedChange)="selectedDate = $event" class="greed-card">
</mat-calendar>

<div *ngIf="editingDescription && project">
  <mat-card>
    <form (ngSubmit)="updateDescription(project.id)" [formGroup]="descriptionDataForm">
      <mat-form-field appearance="outline">
        <input matInput formControlName="xyz" value="{{ project.project_descriptions[0].xyz }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          matInput
          formControlName="distinguishing_factor"
          value="{{ project.project_descriptions[0].distinguishing_factor }}"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="future_scope" value="{{ project.project_descriptions[0].future_scope }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="progress" value="{{ project.project_descriptions[0].progress }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="revenue_model" value="{{ project.project_descriptions[0].revenue_model }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="why_product" value="{{ project.project_descriptions[0].why_product }}" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input matInput formControlName="wow_factor" value="{{ project.project_descriptions[0].wow_factor }}" />
      </mat-form-field>
      <button mat-raised-button>Update Description</button>
    </form></mat-card
  >
</div> -->

<div *ngIf="project" class="project-page">
  <div class="left-sidebar sidebar">
    <div>
      <div>
        <img [src]="'https://www.shareicon.net/download/2016/07/08/117547_developer_512x512.png'" width="90px" />
      </div>
      <a
        [routerLink]="['/view/project', project.id + '-' + project.project_name]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="issue-link-active"
      >
        Home
      </a>
    </div>
    <mat-divider></mat-divider>
    <div>
      <a
        *ngFor="let checkpoint of project.issuessByprojectId"
        [routerLink]="['/view/project', project.id + '-' + project.project_name, 'issues', checkpoint.checkpoint_name]"
        routerLinkActive="issue-link-active"
      >
        {{ checkpoint.checkpoint_name }}
      </a>
    </div>
    <button mat-raised-button (click)="openAddIssueDialog()">Add issue</button>
  </div>

  <div class="content">
    <app-project-home [project]="project"></app-project-home>
    <!-- If viewing issues pages -->
    <router-outlet></router-outlet>
  </div>

  <div class="right-sidebar sidebar">
    <h2>Timeline</h2>
    <div *ngFor="let event of (project['project_events'][0]['timeline'] | keyvalue)">
      {{ event.key }}: {{ event.value | date }}
    </div>
    <button mat-icon-button (click)="initAddTimelineEvent()">
      <mat-icon> add </mat-icon>
    </button>
    <form (ngSubmit)="addTimelineEvent()" [formGroup]="timelineDataForm" *ngIf="addingTimelineEvent">
      <mat-form-field appearance="outline">
        <input matInput formControlName="eventName" placeholder="Add your recent opportunity." />
      </mat-form-field>
      <button mat-icon-button (click)="addTimelineEvent()">
        <mat-icon> done </mat-icon>
      </button>
      <button mat-icon-button (click)="addingTimelineEvent = false">
        <mat-icon> cancel </mat-icon>
      </button>
    </form>
    <h2>Mentors Involved</h2>
  </div>
</div>
