a {
  outline: 0;
}

.greed-card {
  width: 400px;
}

.sidebar {
  width: 280px;
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: white;
  border: 1px #dddddd solid;
  min-height: 93.5vh;
  padding: 40px;
}

.content {
  background-color: white;
  flex: 4.5;
}

.project-page {
  display: flex;
}
.issue-link-active {
  color: blue;
}

.checkpoint {
  font-size: 1rem;
  padding: 5px 10px;
}
.issue-button {
  width: 50%;
  margin-top: 1rem;
  transform: translateX(6px);
}
