<mat-toolbar class="mat-elevation-z1 navbar header">
  <div class="container">
    <div fxHide.gt-sm fxLayoutAlign="start center">
      <button class="menu-button" mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    </div>
    <div class="header__content" fxHide.lt-md>
      <a class="brand header__full-logo" routerLink="/"
        ><img src="../../../assets/cynthesize-logo.png" alt="Cynthesize" width="30px" /><b
          style="vertical-align: text-bottom;
                  color: #2196f3;
                  margin: 7px;"
          >Cynthesize
        </b></a
      >
    </div>
    <span fxFlex></span>
    <div class="v-desktop" fxHide.lt-md>
      <button class="header__link" mat-button routerLink="/view/feed/ideas">
        <span translate>Ideas</span>
      </button>
      <button class="header__link" mat-button [matMenuTriggerFor]="menu">
        <span translate>Collaborate </span>
      </button>
      <mat-menu #menu="matMenu">
        <button class="header__link" mat-menu-item routerLink="/add/idea">
          <span translate>New Idea</span>
        </button>
        <button class="header__link" mat-menu-item routerLink="/add/project">
          <span translate>New Project</span>
        </button>
      </mat-menu>
      <button class="header__link" mat-button routerLink="/">
        <span translate>Become a mentor</span>
      </button>
      <button class="header__link" mat-button routerLink="/view/feed/projects">
        <span translate>Launched Projects</span>
      </button>

      <div *ngIf="(authenticationService.user$ | async); then authenticated; else guest"></div>

      <ng-template #authenticated>
        <button mat-icon-button [matMenuTriggerFor]="userMenu">
          <mat-icon> person </mat-icon>
        </button></ng-template
      >
      <ng-template #guest>
        <button
          mat-raised-button
          style="background-color: orange; color: white; font-weight: 600;"
          (click)="authenticationService.googleSignin()"
        >
          Sign in
        </button></ng-template
      >

      <mat-menu #userMenu="matMenu" class="profile-menu">
        <div>
          <div class="user-info">
            <div class="user-image" *ngIf="profilepPic">
              <cl-image height="50" crop="scale" public-id="{{ profilepPic }}" secure="true"></cl-image>
            </div>
            <div class="username">{{ username }}</div>
          </div>
          <mat-divider></mat-divider>
          <div class="user-links">
            <div class="user-link" routerLink="/user/{{ username }}">Profile</div>
            <div class="user-link" (click)="authenticationService.logout()">Logout</div>
          </div>
        </div>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
