@import "src/theme/theme-variables";
@import "../../../sass/declarations";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.mat-button {
  font-size: 16px;
}
.mat-elevation-z1 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.header {
  font-size: 16px;
  color: #2196f3;

  background-color: rgb(255, 255, 255);

  &__full-logo {
    padding-top: 1rem;
    margin-right: 2rem;
    text-decoration: none;
  }
}

.container {
  width: 75%;
  margin: 0 auto;
}

.mat-toolbar-single-row {
  height: 90px !important;
}

.user-info {
  display: flex;
  padding: 10px 20px;
  align-items: center;
}

.username {
  color: black;
  padding: 15px;
  font-weight: 600;
  font-size: 1.2rem;
}

.user-link {
  padding: 1rem;
  font-size: 1rem;
  color: $color-primary-dark;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: darken($color: #ffffff, $amount: 3%);
  }
}

.container > .mat-raised-button {
  width: 150px;
  background-color: orange;
}
