@import "src/theme/theme-variables";
@import "../../../sass/declarations";

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.mat-button {
  font-size: 16px;
}
.mat-elevation-z1 {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.header {
  font-size: 16px;
  color: #0264fb;

  background-color: rgb(255, 255, 255);

  &__full-logo {
    padding-top: 1rem;
    margin-right: 2rem;
  }
}

.container {
  width: 75%;
  margin: 0 auto;
}

.mat-toolbar-single-row {
  height: 90px !important;
}

.profile-header-info-nav {
  &__photo {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    float: right;
    justify-content: center;
    overflow: hidden;
  }
}
.ng-trigger-transformMenu {
  background-color: white;
  box-shadow: 0 0 2px #555555;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 25rem;
  color: black;
}

.helper-text {
  display: block;
  font-size: 1.3rem;
  color: #444;
  font-family: "gothamlight", sans-serif;
}

.username {
  font-size: 2rem;
}

.user-info {
  padding: 2rem;
}

.user-link {
  padding: 1rem 2rem;
  font-size: 1.4rem;
  color: $color-primary-dark;
  cursor: pointer;

  &:nth-child(odd) {
    background-color: darken($color: #ffffff, $amount: 3%);
  }
}

.mat-raised-button {
  width: 150px;
  background-color: #ffb03a;
}
