<div class="container">
  <div class="page">
    <div class="page-header">
      <div class="page-heading">PROJECTS</div>
    </div>
    <div class="page-search">
      <div class="page-search-box">
        <mat-form-field appearance="fill">
          <mat-label>Search Launched Products</mat-label>
          <input matInput />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="page-sort">
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'popular' }"
          (click)="changeContext('popular')"
          >POPULAR</span
        >
        &nbsp;|&nbsp;
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'newest' }"
          (click)="changeContext('newest')"
          >NEWEST</span
        >
        &nbsp;|&nbsp;
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'default' }"
          (click)="changeContext('default')"
          >DEFAULT</span
        >
      </div>
    </div>
    <div class="page-data">
      <mat-card class="card">
        <div class="card-image"></div>
        <div class="card-details">
          <div class="card-project-name">Project Name</div>
          <div class="card-project-description">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aspernatur maiores asperiores laudantium
            minus, unde iure alias amet cupiditate earum nobis, rerum illum aliquid ex accusamus sequi. Tempora, ad
            doloremque.
          </div>
        </div>
        <div class="card-links">
          <div>www.website.com</div>
          <div class="card-icons">
            <mat-icon>whatshot</mat-icon> 654 <mat-icon>comment</mat-icon> 98
            <mat-icon>share</mat-icon>
          </div>
        </div>
      </mat-card>
    </div>
    <mat-progress-bar mode="query" *ngIf="isLoading"></mat-progress-bar>
  </div>
</div>
