/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

@import "theme/theme-variables";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";
@import "~@angular/material/theming";
@import "~@covalent/markdown/markdown-theme";

@include mat-core();

$primary: mat-palette($mat-orange, 800);
$accent: mat-palette($mat-light-blue, 600, A100, A400);
$warn: mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include covalent-markdown-theme($theme);
@include angular-material-theme($app-theme);
$custom-typography: mat-typography-config(
  $font-family: "'Open Sans', sans-serif"
);
@include mat-core($custom-typography);

@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,800|Open+Sans:300,400,600,700,800,900");
@import "theme/theme";

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background: #f7f8fb;
  color: white;
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
  opacity: 0.8;
  line-height: 1.8;
}

.mat-card-header-text {
  margin: 0 0 5px 0 !important;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.center-divs {
  display: flex;
  justify-content: center;
}

.top-margin-120 {
  margin: 120px 0;
}

.pointer {
  cursor: pointer;
}

.page {
  margin: 60px 0 0 0;
}

.page-heading {
  color: orange;
  font-size: 2.5rem;
  font-weight: 900;
}

.page-search {
  display: flex;
  margin: 20px 0 0 0;
}

.page-sort {
  align-self: center;
  display: flex;
}

.page-search-box {
  width: -webkit-fill-available;
}

.mat-form-field {
  max-width: 500px;
  width: 100%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 40px !important;
  background-color: white;
  border: #8e8e8e solid;
}
.mat-raised-button {
  border: 1px #dddddd solid !important;
  border-radius: 30px !important;
  box-shadow: 0px 0px !important;
}

.mat-form-field-underline {
  display: none;
}

.content-main-header {
  margin-bottom: 5px;
  font-size: 2rem;
  display: inline-block;
}

.content-header {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.content-header::after {
  display: block;
  content: "";
  height: 3px;
  width: 5%;
  background-color: #3498db;
  margin-bottom: 10px;
  border-radius: 5px;
}

.coming-soon-content {
  content: "";
  color: #aaa;
  font-size: 1rem;
  font-style: italic;
}

.loader {
  display: flex;
  align-items: center;
  height: 85vh;
  justify-content: center;
}

// overriding  mat-dialog-container
.custom-dialog-container .mat-dialog-container {
  padding: 0;
}

.orange-btn {
  background-color: orange;
  color: white;
}

.mat-card {
  box-shadow: 0 0 !important;
  border: 1px #dddddd solid;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

@media (max-width: 1050px) {
  .page-search {
    flex-direction: column;
  }

  .page-sort {
    align-self: flex-start;
    padding-left: 12px;
  }

  .container {
    width: 90%;
  }
}

/* Projects feed */

.card {
  width: 100%;
  margin: 10px 0 0 0;
  display: flex !important;
}

.card-image {
  width: 100px;
  height: 100px;
  padding: 10px;
  background-color: black;
}

.card-details {
  flex: 3;
  flex-direction: column;
  padding: 10px;
}

.card-project-name {
  font-weight: 700;
  font-size: 1.5rem;
}

.card-project-description {
  color: #8e8e8e;
  padding: 5px 0 0 0;
}

.card-links {
  flex-direction: column;
  flex: 0.35;
}

.active-context {
  color: #2196f3;
  font-weight: bold;
}

.hidden {
  visibility: hidden;
}

.modal-container {
  width: 75vw;
}
.tooltip {
  font-size: 0.8rem;
}
h3 {
  display: flex;
}

// Needs to be here, doesn't work in home.component.scss
.typed-cursor {
  color: orange;
  margin: 10px;
}
