/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

@import "theme/theme-variables";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";

@import "~@angular/material/theming";
@include mat-core();
@include angular-material-theme($app-theme);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "theme/theme";

@font-face {
  font-family: "gothambold";
  src: url("./theme/fonts/gothambold.eot");
  src: local("gothambold"), url("./theme/fonts/gothambold.woff") format("woff"),
    url("./theme/fonts/gothambold.ttf") format("truetype");
}

@font-face {
  font-family: "gothamlight";
  src: url("./theme/fonts/gothamlight.otf");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px //will be used for rems
}

body {
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  background: linear-gradient(white);

  color: white;
}

/* 
mat-card.login-box,
mat-card.register-box {
  padding: 50px;
  border-radius: 8px;
}

.login-box mat-card-title,
.register-box mat-card-title {
  font-size: 25px;
}

.login-box .button-lg,
.register-box .button-lg {
  width: 80%;
  padding: 5px 30px;
  margin: auto;
}

.login-box .button-sm,
.register-box .button-sm {
  width: 50%;
  padding: 2px 15px;
  margin-left: 25%;
}

.nofocuslink {
  text-decoration: none;
  color: #888;
  font-style: italic;
}

.short-seperator {
  width: 30%;
  border: none;
  display: block;
  height: 1px;
  background-color: #2196f3;
  margin-top: 15px;
  margin-bottom: 10px;
}
.center-aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}
.aligner-item {
  min-width: 500px;
}
 */
.content-main-header {
  margin-bottom: 5px;
  font-size: 2rem;
  display: inline-block;
}

.content-header {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.content-header::after {
  display: block;
  content: "";
  height: 3px;
  width: 5%;
  background-color: #3498db;
  margin-bottom: 10px;
  border-radius: 5px;
}

.coming-soon-content {
  content: "";
  color: #aaa;
  font-size: 1rem;
  font-style: italic;
}
