/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

@import "theme/theme-variables";
@import "../node_modules/material-design-icons-iconfont/dist/material-design-icons.css";
@import "~@angular/material/theming";
@import "~@covalent/markdown/markdown-theme";

@include mat-core();

$primary: mat-palette($mat-orange, 800);
$accent: mat-palette($mat-light-blue, 600, A100, A400);
$warn: mat-palette($mat-red, 600);

$theme: mat-light-theme($primary, $accent, $warn);

@include covalent-markdown-theme($theme);
@include angular-material-theme($app-theme);
$custom-typography: mat-typography-config(
  $font-family: "Open Sans"
);
@include mat-core($custom-typography);

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
@import "theme/theme";

@font-face {
  font-family: "gothambold";
  src: url("./theme/fonts/gothambold.eot");
  src: local("gothambold"), url("./theme/fonts/gothambold.woff") format("woff"),
    url("./theme/fonts/gothambold.ttf") format("truetype");
}

@font-face {
  font-family: "gothamlight";
  src: url("./theme/fonts/gothamlight.otf");
}

* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px //will be used for rems
}

body {
  box-sizing: border-box;

  font-family: "gothamlight";
  font-weight: 600;
  line-height: 1.6;

  background: linear-gradient(white);

  color: white;
}

.pointer {
  cursor: pointer;
}

.content-main-header {
  margin-bottom: 5px;
  font-size: 2rem;
  display: inline-block;
}

.content-header {
  font-size: 1.1rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 5px !important;
  margin-top: 5px;
}

.content-header::after {
  display: block;
  content: "";
  height: 3px;
  width: 5%;
  background-color: #3498db;
  margin-bottom: 10px;
  border-radius: 5px;
}

.coming-soon-content {
  content: "";
  color: #aaa;
  font-size: 1rem;
  font-style: italic;
}
