<div class="accordion" #accordion>
  <div class="level">
    <div
      class="unit-heading"
      [ngClass]="{
        'current-text': currentStage === 'ideation_stage',
        'completed-text': completedStages['ideation_stage']
      }"
    >
      <div class="unit-heading-name">Ideation</div>
      <div class="unit-heading-date"></div>
      <div
        class="unit-icon"
        [ngClass]="{ current: currentStage === 'ideation_stage', completed: completedStages['ideation_stage'] }"
        #level0icon
      >
        <i class="fa fa-lightbulb-o"></i>
      </div>
      <div class="unit-level">Level 0</div>
    </div>
  </div>
  <div class="line" #line [style.width.px]="accordion.offsetWidth / 4.2" [style.left.px]="level0icon.offsetLeft"></div>
  <div>
    <div
      class="unit-heading"
      [ngClass]="{
        'current-text': currentStage === 'prototyping_stage',
        'completed-text': completedStages['prototyping_stage']
      }"
    >
      <div class="unit-heading-name">Prototyping</div>
      <div class="unit-heading-date"></div>
      <div
        class="unit-icon"
        [ngClass]="{ current: currentStage === 'prototyping_stage', completed: completedStages['prototyping_stage'] }"
        #level1icon
      >
        <i class="fa fa-cube"></i>
      </div>
      <div class="unit-level">Level 1</div>
    </div>
  </div>
  <div class="line" [style.width.px]="accordion.offsetWidth / 4.2" [style.left.px]="level1icon.offsetLeft"></div>
  <div>
    <div
      class="unit-heading"
      [ngClass]="{
        'current-text': currentStage === 'feedback_stage',
        'completed-text': completedStages['feedback_stage']
      }"
    >
      <div class="unit-heading-name">Feedback</div>
      <div
        class="unit-icon"
        [ngClass]="{ current: currentStage === 'feedback_stage', completed: completedStages['feedback_stage'] }"
        #level2icon
      >
        <i class="fa fa-street-view"></i>
      </div>
      <div class="unit-level">Level 2</div>
    </div>
  </div>
  <div class="line" [style.width.px]="accordion.offsetWidth / 4.2" [style.left.px]="level2icon.offsetLeft"></div>
  <div>
    <div
      class="unit-heading"
      [ngClass]="{
        'current-text': currentStage === 'launching_stage',
        'completed-text': completedStages['launching_stage']
      }"
    >
      <div class="unit-heading-name">Launch</div>
      <div
        class="unit-icon"
        [ngClass]="{ current: currentStage === 'launching_stage', completed: completedStages['launching_stage'] }"
        #level3icon
      >
        <i class="fa fa-rocket"></i>
      </div>
      <div class="unit-level">Level 3</div>
    </div>
  </div>
  <div class="line" [style.width.px]="accordion.offsetWidth / 4.2" [style.left.px]="level3icon.offsetLeft"></div>
  <div>
    <div
      class="unit-heading"
      [ngClass]="{
        'current-text': currentStage === 'funding_stage',
        'completed-text': completedStages['funding_stage']
      }"
    >
      <div class="unit-heading-name">Funding</div>
      <div
        class="unit-icon"
        [ngClass]="{ current: currentStage === 'funding_stage', completed: completedStages['funding_stage'] }"
      >
        <i class="fa fa-money"></i>
      </div>
      <div class="unit-level">Level 4</div>
    </div>
  </div>
</div>
<style>
  .accordion {
    display: flex;
    height: 400px;
    align-items: flex-end;
    justify-content: space-between;
  }
  .unit-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px;
    color: #d4d4d4;
  }
  .unit-icon {
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    z-index: 1;
    display: flex;
    background-color: #d4d4d4;
    justify-content: center;
  }
  .unit-icon i {
    font-size: 1.3rem;
    color: white;
  }
  .line {
    border: 1px #d4d4d4 solid;
    position: absolute;
    bottom: 90px;
  }
  .completed {
    background-color: #2b06ff;
  }
  .unit-level {
    font-size: 1rem;
    font-weight: 700;
  }
  .completed-text {
    color: #2b06ff;
  }
  .current-text {
    color: orange;
  }
  .current {
    background-color: orange;
  }
</style>
