<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <a
            mat-list-item
            routerLink="/"
            routerLinkActive="active-content"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="sidenav.close()"
          >
            <span>Home</span>
          </a>
          <a mat-list-item routerLink="/add/mentor" *ngIf="isMentor !== true">
            <span>Become a mentor</span>
          </a>
          <a mat-list-item routerLink="/view/issues" *ngIf="isMentor === true">
            <span>See Open Issues</span>
          </a>
          <button class="header__link" mat-button routerLink="/view/review-answers/Ideation" *ngIf="isMentor === true">
            <span>Stage answer reviews</span>
          </button>
          <a mat-list-item routerLink="/view/feed/projects" routerLinkActive="active-content" (click)="sidenav.close()">
            <span>Projects</span>
          </a>
        </mat-list>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content (scroll)="onWindowScroll($event)">
      <div class="feedback-icon">
        <button class="header__link" mat-icon-button (click)="openModal()">
          <mat-icon>sentiment_dissatisfied</mat-icon>
        </button>
      </div>
      <app-header [sidenav]="sidenav"></app-header>
      <main [@routerTransition]="getState(o)">
        <router-outlet #o="outlet"></router-outlet>
      </main>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
