<div class="home-container">
  <section class="home-first">
    <img class="home-section-background" src="../../assets/home.svg" />

    <div class="content">
      <img class="home-cynthesize-full-logo" src="../../assets/cynthesize-banner-logo.png" />
      <div class="home-cynthesize-who-we-are">
        <h2 class="home-home-xl-heading">Who are we?</h2>
        <p class="home-home-m-paragraph">
          We turn your projects to products by helping you find a team, help you through design, development phases and
          finally host your project.
        </p>
      </div>
    </div>
  </section>
</div>
