@import "../../sass/declarations";
.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 100px 0;
}

.home-description {
  font-size: 0.8rem;
  font-weight: 500;
  text-align: center;
}

mat-card-title {
  font-weight: 900;
  font-size: 18px;
  text-align: left;
}

.home-heading {
  font-size: 3rem;
  color: #2196f3;
}

.home-banner .home-heading {
  height: 200px;
}

.home-card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: auto;
  text-align: center;
  width: 20%;
  margin: 10px;
  padding: 30px;
}

.home-card mat-card-content {
  margin: 30px 0;
}

.home-card:hover {
  background-color: $color-primary-dark;
  border: 1px #dddddd solid;
  color: white;
  box-shadow: 0.5px 0.5px 3px 3px #dddddd;
}

.home-card-yellow {
  background-color: orange;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: auto;
  text-align: center;
  width: 20%;
  margin: 10px;
  padding: 30px;
  color: white;
}

.home-card-button {
  margin-top: 2px;
  padding: 2rem 2rem;
}
.home-card-button-blue {
  background-color: $color-primary-dark;
  margin-top: 2px;
  padding: 2rem 2rem;
  color: white;
}
.home-card-button-yellow {
  background-color: orange;
  margin-top: 2px;
  padding: 2rem 2rem;
  color: white;
}

.home-contact-heading {
  font-size: 4.4rem;
  color: #2196f3;
  line-height: 6rem;
}

.home-contact-description {
  font-size: 1rem;
}

.home-content .home-contact-description {
  text-align: center;
}

.home-content-contact {
  display: inline-block;
}

.home-section {
  height: 300px;
  background-color: white;
  margin-top: 180px;
}

.home-contact-icons {
  display: flex;
  flex-direction: column;
}

.icons {
  display: flex;
  margin: 7px 15px;
  color: #6c6c6c;
  align-items: center;
}

.social-icon {
  width: 40px;
  color: #6c6c6c;
  font-size: 1.5rem;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.icon-details {
  font-size: 1rem;
  margin-left: 13px;
  color: #6c6c6c;
}

.icon-name {
  font-size: 1rem;
  color: grey;
}

.card-heading {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 20px;
  font-weight: 500;
}

.home-info-cards {
  display: flex;
  justify-content: space-around;
}

.section1 {
  display: flex;
}

.home-banner {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}
.home-banner-image {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.home-section1 {
  background: url("../../assets/intersection.svg");
  height: 94vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-community {
  text-align: center;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-community-card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 30px 0;
}

@media (max-width: 500px) {
  .home-heading {
    font-size: 2rem;
  }
  .home-banner {
    flex-basis: 100%;
  }
  .home-banner-image {
    display: none;
  }
}

.community-button {
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 1134px) {
  .home-info-cards {
    flex-direction: column;
  }

  .home-card {
    // height: 30rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: auto;
    text-align: center;
    width: 96%;
    margin: 10px;
    padding: 30px;
  }
  .home-card-blue {
    // height: 30rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: auto;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 30px;
  }
  .home-card-yellow {
    // height: 30rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: auto;
    text-align: center;
    width: 100%;
    margin: 10px;
    padding: 30px;
  }
}
.right-align-icon {
  display: flex;
  justify-content: flex-end;
}
