<section style="overflow-x: hidden">
  <div class="home-section1">
    <section class="section1 container">
      <div class="home-banner">
        <h1 class="home-heading">
          Cynthesize is a place to turn your

          <div id="typed-strings">
            <p>ideas into products.</p>
            <p>dreams into a reality.</p>
            <p>dev into production.</p>
          </div>

          <span style="color: orange;" class="typed-element"></span>
        </h1>
        <p class="home-description">
          <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet. -->
        </p>
        <mat-card class="home-community">
          <h2 class="home-description">Wanna join the community?</h2>
          <button mat-raised-button color="primary" class="community-button" [routerLink]="['/view/feed/projects']">
            See active projects
          </button>
        </mat-card>
      </div>
      <div class="home-banner-image">
        <img src="../../assets/images/building.svg" />
      </div>
    </section>
  </div>
  <div class="container">
    <section class="top-margin-120">
      <div class="home-content">
        <h1 class="home-heading">What do we do?</h1>
        <p class="home-description">
          We help people get the guidance they lack to convert thier projects into meaningful products.
        </p>
      </div>
      <div class="home-info-cards">
        <mat-card class="home-card pointer" [routerLink]="['/add/project']">
          <mat-card-header>
            <mat-card-title>START PROJECTS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Turn out your idea into product by sharing it here. The activities began in hackathons and side tasks, the
              project that you started but are incomplete yet can be share and could be transform into real one.
            </p>
          </mat-card-content>
          <div class="right-align-icon"><mat-icon>arrow_right_alt</mat-icon></div>
        </mat-card>

        <mat-card class="home-card pointer">
          <mat-card-header>
            <mat-card-title>IDEATE</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              We intend to give all our users a springboard that mechanizes the procedure of going from idea to product.
              This is where you continuously build your product, and gain constant feedback with improvements suggested
              by the certified mentor experts!
            </p>
          </mat-card-content>
          <div class="right-align-icon"><mat-icon>arrow_right_alt</mat-icon></div>
        </mat-card>
        <mat-card class="home-card pointer">
          <mat-card-header>
            <mat-card-title>COLLABORATE</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Refine your product and go towards market readiness (MVPs/MPPs) by collaborating it with the perfect
              guidelines of the mentor and with others to get the best out of it and to have a number of different
              perspectives about the project.
            </p>
          </mat-card-content>
          <div class="right-align-icon"><mat-icon>arrow_right_alt</mat-icon></div>
        </mat-card>
        <mat-card class="home-card pointer" [routerLink]="['/add/mentor']">
          <mat-card-header>
            <mat-card-title>BECOME A MENTOR</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Put your finger on the pulse of budding entrepreneurs and pass on the knowledge you have learned by
              mentoring them in the process of idea to product.
            </p>
          </mat-card-content>
          <div class="right-align-icon"><mat-icon>arrow_right_alt</mat-icon></div>
        </mat-card>
        <mat-card class="home-card-yellow pointer" [routerLink]="['/view/feed/projects']">
          <mat-card-header>
            <mat-card-title>SEE PROJECTS</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>
              Let the world know what you’re up to and give them a chance to get to know about you and your project by
              publishing it! Explore your ideas and projects to make them more successful.
            </p>
          </mat-card-content>
          <div class="right-align-icon"><mat-icon>arrow_right_alt</mat-icon></div>
        </mat-card>
      </div>
    </section>
  </div>
  <section class="home-section center-divs">
    <div class="container contact">
      <div class="home-content-contact">
        <h1 class="home-contact-heading">Get in Touch</h1>
        <p class="home-contact-description">
          Interested in knowing more about our platform? Want to mentor or publish interesting projects on Cynthesize?
          Reach out to us!
        </p>
      </div>
      <div class="home-contact-icons center-divs">
        <div class="icons">
          <i class="fa fa-envelope social-icon"></i>
          <div class="icon-details">hello@cynthesize.co</div>
        </div>
        <div class="icons">
          <i class="fa fa-twitter social-icon"></i>
          <div class="icon-details">@CynthesizeHQ</div>
        </div>
        <div class="icons">
          <i class="social-icon fa fa-facebook"></i>
          <div class="icon-details">cynthesizetech</div>
        </div>
      </div>
    </div>
  </section>
</section>
