<div class="home-section1">
  <section class="section1 container">
    <div class="home-banner">
      <h1 class="home-heading">
        Cynthesize is a place to turn your

        <div id="typed-strings">
          <p>ideas into products.</p>
          <p>dreams into a reality.</p>
          <p>dev into production.</p>
        </div>

        <span style="color: orange;" class="typed-element"></span>
      </h1>
      <p class="home-description">
        <!-- Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet. -->
      </p>
      <mat-card class="home-community">
        <h2 class="home-description">Wanna join the community?</h2>
        <button mat-raised-button color="primary" class="community-button">See active projects</button>
        <button mat-raised-button color="primary" class="community-button">Ideate with the community</button>
      </mat-card>
    </div>
    <div class="home-banner-image">
      <img src="../../assets/images/building.svg" />
    </div>
  </section>
</div>
<div class="container">
  <section class="top-margin-120">
    <div class="home-content">
      <h1 class="home-heading">What do we do?</h1>
      <p class="home-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Lorem ipsum, dolor sit amet.
      </p>
    </div>
    <div class="home-info-cards">
      <mat-card class="home-card">
        <mat-card-content>
          <p class="card-heading">START PROJECTS</p>
          <p class="home-description">
            Turn out your idea into product by sharing it here. The activities began in hackathons and side tasks, the
            project that you started but are incomplete yet can be share and could be transform into real one.
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button style="width:100%;">Create a project</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="home-card">
        <mat-card-content>
          <p class="card-heading">IDEATE WITH OTHERS</p>
          <p class="home-description">
            We intend to give all our users a springboard that mechanizes the procedure of going from idea to product.
            This is where you continuously build and break your product, and gain constant feedback with improvements
            suggested by the certified mentor experts and move towards your first Series A funding!
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button style="width:100%;">Submit your idea</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="home-card">
        <mat-card-content>
          <p class="card-heading">COLLABORATE</p>
          <p class="home-description">
            Refine your product and go towards market readiness (MVPs/MPPs) by collaborating it with the perfect
            guidelines of the mentor and with others to get the best out of it and to have a number of different
            perspectives about the project.
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button style="width:100%;">Find projects</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="home-card">
        <mat-card-content>
          <p class="card-heading">BECOME A MENTOR</p>
          <p class="home-description">
            Put your finger on the pulse of budding entrepreneurs and pass on the knowledge you have learned by
            mentoring them in the process of idea to product. There is little more rewarding than knowing you are making
            a difference to someone else’s effort and toil!
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button style="width:100%;">Apply</button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="home-card">
        <mat-card-content>
          <p class="card-heading">SEE PROJECTS</p>
          <p class="home-description">
            Let the world know what you’re up to and give them a chance to get to know about you and your project by
            publishing it! Explore your ideas and projects to make them more successful.
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-button style="width:100%;">Published projects</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</div>
<section class="home-section center-divs">
  <div class="container contact">
    <div class="home-content-contact">
      <h1 class="home-contact-heading">Get in Touch</h1>
      <p class="home-contact-description">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Accusantium eius voluptatibus, exercitationem cum
        veritatis
      </p>
    </div>
    <div class="home-contact-icons center-divs">
      <div class="icons">
        <mat-icon class="social-icon">email</mat-icon>
        <div class="icon-details">cynthesize.tech@gmail.com</div>
        <div class="icon-name">Email</div>
      </div>
      <div class="icons">
        <img class="social-icon" src="../../assets/logos/social/twitter-logo.svg" />
        <div class="icon-details">@CynthesizeTech</div>
        <div class="icon-name">Twitter</div>
      </div>
      <div class="icons">
        <img class="social-icon" src="../../assets/logos/social/facebook-logo.svg" />
        <div class="icon-details">cynthesizetech</div>
        <div class="icon-name">Facebook</div>
      </div>
    </div>
  </div>
</section>
