@import "../../../../sass/declarations";

.idea-card {
  width: 100%;
  margin: 10px;
  min-height: 300px;
  flex: 0.25;
}

.idea-feed-data {
  display: flex;
}

.idea-card-details {
  flex-direction: column;
  padding: 10px;
  margin-bottom: 30px;
}

.idea-card-project-name {
  font-weight: 700;
  font-size: 1.5rem;
}

.idea-card-project-description {
  padding: 5px 0 0 0;
  line-height: 1.6;
}

.idea-card-icons {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 15px;
}
.idea-card-icons > mat-icon {
  margin: 5px;
  color: blue;
}

.active-context {
  color: blue;
  font-weight: bold;
}

@media (max-width: 1050px) {
  .idea-feed-data {
    flex-direction: column;
  }
  .idea-card {
    min-height: 200px;
  }
  .page-search {
    flex-direction: column;
  }
  .page-sort {
    align-self: flex-start;
    padding-left: 12px;
  }
}
