<div class="container">
  <div class="page">
    <div class="page-header">
      <div class="page-heading">IDEAS</div>
    </div>
    <div class="page-search">
      <div class="page-search-box">
        <mat-form-field appearance="fill">
          <mat-label>Search Ideas</mat-label>
          <input matInput />
          <mat-icon matPrefix>search</mat-icon>
        </mat-form-field>
      </div>
      <div class="page-sort">
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'popular' }"
          (click)="changeContext('popular')"
          >POPULAR</span
        >
        &nbsp;|&nbsp;
        <span
          class="pointer"
          [ngClass]="{ 'active-context': activeContext === 'newest' }"
          (click)="changeContext('newest')"
          >NEWEST</span
        >
      </div>
    </div>
    <div class="page-data">
      <div class="idea-feed-data">
        <mat-card class="idea-card" *ngFor="let idea of ideasList">
          <div class="idea-card-details">
            <div class="idea-card-project-name">{{ idea.idea_name }}</div>
            <div class="idea-card-project-description">
              {{ idea.description }}
            </div>
          </div>
          <div class="idea-card-links">
            <app-activity-actions
              [id]="idea.id"
              [type]="'idea'"
              [likes]="idea.upvotes"
              [url]="'/view/feed/ideas/' + idea.id"
            ></app-activity-actions>
          </div>
        </mat-card>
      </div>
    </div>
    <mat-progress-bar mode="query" [ngClass]="{ hidden: !isLoading }" style="margin-bottom: 30px;"></mat-progress-bar>
  </div>
</div>
<router-outlet></router-outlet>
