@import "../../../../sass/declarations";

:host {
  width: 100%;
}

.background {
  min-height: 90vh;
  background-color: white;
  position: relative;

  display: flex;
  flex-direction: column;

  @media (max-width: 37.5em) {
  }
}

.container {
  width: 50%;

  @media (max-width: 37.5em) {
    width: 95%;
  }
}

.section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem 0 1rem 0;

  &__title {
    font-size: 4rem;
    color: #212121;

    @media (max-width: 37.5em) {
      font-size: 3rem;
    }
  }

  &__slogan {
    font-size: 2rem;
    color: #212121;

    @media (max-width: 37.5em) {
      font-size: 1.6rem;
    }
  }
}

.section-search {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.search-box {
  font-size: 1.6rem;

  background-color: white;
  box-shadow: 0 0 1rem #cdcdcd;

  padding: 1.5rem 4rem;
  border-radius: 500rem;
}

.section-issues {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2rem 0;

  .container {
    padding: 1rem;
  }
}

.idea-card {
  font-family: "Open Sans", sans-serif;

  display: flex;

  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }

  &__owner {
    flex: 0 0 10%;
    padding: 0 2rem;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-right: 1px solid #cdcdcd;

    &__username {
      color: black;
      text-decoration: none;
      font-size: 1.2rem;
    }

    @media (max-width: 37.5em) {
      display: none;
      padding: 0;
      border: none;
    }
  }

  &__body {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0 0 1rem 3rem;

    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @media (max-width: 37.5em) {
      padding: 0;
      border: none;
    }
  }

  &__header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;

    &__idea-name {
      font-size: 2rem;
      font-weight: 400;
      flex-grow: 1;

      @media (max-width: 37.5em) {
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 600;
      }
    }

    @media (max-width: 37.5em) {
      margin-bottom: 0;
    }

    &__icon-list {
      display: flex;
      align-items: center;
    }

    &__idea-username {
      display: none;

      @media (max-width: 37.5em) {
        display: block;
        font-size: 1.2rem;
        font-family: "Open Sans", sans-serif;
        font-weight: 400;

        margin-bottom: 1rem;
      }
    }
  }

  &__icon {
    top: 1rem;
    right: 1rem;

    font-size: 2rem;

    cursor: pointer;
  }

  &__stat {
    margin-top: -0.5rem;
    margin-right: 1rem;
  }
}
