<div class="ideafeed-background">
  <section class="section-header"><p class="section-header__slogan">Discuss ideas with the community here!</p></section>
  <section class="section-search"><div class="search-box">Search | Popular | New</div></section>
  <section class="section-issues">
    <div *ngIf="ideaList" class="ideafeed-container">
      <mat-card
        class="idea-card"
        *ngFor="let item of (ideaList | paginate: { itemsPerPage: 5, currentPage: pageIndex, totalItems: totalCount })"
      >
        <div class="idea-card__owner">
          <div class="idea-card__owner__photo">
            <cl-image
              class="dp-l-image"
              public-id="{{ item.ideaOwner.profile_pic }}"
              secure="true"
              style="height: 5rem; border-radius: 50%;"
            >
            </cl-image>
          </div>
          <a class="idea-card__owner__username pointer" [routerLink]="['/user', item.ideaOwner.username]"
            >@{{ item.ideaOwner.username }}</a
          >
        </div>
        <div class="idea-card__body">
          <div class="idea-card__header">
            <div class="idea-card__header__idea-name" (click)="openDialog(item)">{{ item.idea_name }}</div>
            <div class="idea-card__header__icon-list">
              <mat-icon class="idea-card__icon">arrow_drop_up</mat-icon>
              <div class="idea-card__stat">({{ item.upvotes }})</div>
              <mat-icon class="idea-card__icon" (click)="openDialog(item)">open_in_new</mat-icon>
            </div>
          </div>

          <div class="idea-card__header__idea-username">
            by <span class="text-bold">{{ item.ideaOwner.username }}</span>
          </div>

          <div class="idea-card__description">{{ item.description }}</div>
        </div>
      </mat-card>
    </div>

    <mat-paginator
      [length]="length"
      [pageIndex]="pageIndex"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10]"
      (page)="pageEvent = getIdeasFromServer($event)"
    >
    </mat-paginator>
  </section>
</div>
