<app-navbar></app-navbar>

<div class="container">
  <h2 class="text-center mt-4">
    Ideas
  </h2>
  <hr style="width:40%; margin-left:30%;">
  <div class="container idea-container">
    <app-idea-card><img src="https://cdn.dribbble.com/users/69182/screenshots/2151363/animated_loading__by__amiri.gif" alt="" sizes="" srcset=""></app-idea-card>
    <app-idea-card><img src="https://cdn.dribbble.com/users/69182/screenshots/2151363/animated_loading__by__amiri.gif" alt=""></app-idea-card>
    <app-idea-card><img src="https://cdn.dribbble.com/users/69182/screenshots/2151363/animated_loading__by__amiri.gif" alt=""></app-idea-card>
  </div>

</div>
