<div class="profile-project-page">
  <div class="page-header">
    <div class="profile-heading">Projects</div>
  </div>
  <div class="page-data">
    {{ nullText }}
    <mat-card class="card" *ngFor="let project of launchedProjects">
      <div><img class="project-icon" [src]="project.icon" /></div>
      <div class="card-details">
        <div
          class="card-project-name pointer"
          [routerLink]="['/view/project', project.id + '-' + project.project_name]"
        >
          {{ displayableName(project.project_name) }}
          <span *ngFor="let tag of project.tagsLinkssByprojectId" class="tags">
            {{ tag.tagsBytagId.tag_name }}
          </span>
        </div>
        <div
          class="card-project-description pointer"
          [routerLink]="['/view/project', project.id + '-' + project.project_name]"
        >
          Started: {{ project.created_on | timeDiff }}
          <br />
          {{ project.abstract }}
        </div>
      </div>
      <div class="card-links">
        <div *ngIf="project.website">
          <a href="{{ project.website }}" target="_blank">
            <button mat-raised-button style="width: -webkit-fill-available;">Visit</button>
          </a>
        </div>
        <app-activity-actions
          [id]="project.id"
          [type]="'project'"
          [likes]="project.likes"
          [url]="'/view/feed/projects/' + project.project_name"
        ></app-activity-actions>
      </div>
    </mat-card>
  </div>
</div>
<router-outlet></router-outlet>
