<div class="profile-project-page">
  <div class="page-header">
    <div class="profile-heading">Projects</div>
  </div>
  <div class="page-data">
    <mat-card class="card" *ngFor="let project of launchedProjects">
      <div><img class="project-icon" [src]="project.icon" /></div>
      <div class="card-details">
        <div class="card-project-name">
          {{ displayableName(project.project_name) }}
          <span *ngFor="let tag of project.tagsLinkssByprojectId" class="tags">
            {{ tag.tagsBytagId.tag_name }}
          </span>
        </div>
        <div class="card-project-description">
          Started: {{ project.created_on | timeDiff }}
          <br />
          {{ project.abstract }}
        </div>
      </div>
      <div class="card-links">
        <div>
          <a href="{{ project.website }}" target="_blank">
            <button mat-raised-button style="width: -webkit-fill-available;">Visit</button>
          </a>
        </div>
        <app-activity-actions
          [id]="project.id"
          [type]="'project'"
          [likes]="project.likes"
          [url]="'/view/feed/projects/' + project.project_name"
        ></app-activity-actions>
      </div>
    </mat-card>
  </div>
</div>
<mat-spinner class="loader" [ngClass]="{ hidden: !isLoading }"></mat-spinner>
<router-outlet></router-outlet>
