<div class="content" scrollable (scrollPosition)="scrollHandler($event)">
  <div *ngFor="let project of page.data | async">
    <div class="card" style="width:400px; padding: 50px 0 50px 100px;">
      <img class="card-img-right" src="img_avatar1.png" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">{{ project.project_name }}</h4>
        <h5 class="card-title">{{ project.one_line_description }}</h5>
        <p class="card-text">{{ project.project_summary }}</p>
        <input class="btn btn-success"
               *ngIf="userUpvoteData[project.project_id]; else notUpvoted"
               (click)="neutralizeUpvote($event)"
               name="{{ project.project_id }}"
               value="{{ project.upvotes }} Upvotes">
        <ng-template #notUpvoted>
          <input class="btn btn-primary"
                 (click)="upvote($event)"
                 name="{{ project.project_id }}"
                 value="{{ project.upvotes }} Upvotes">
        </ng-template>

        <input class="btn btn-danger"
               *ngIf="userDownvoteData[project.project_id]; else notDownvoted"
               (click)="neutralizeDownvote($event)"
               name="{{ project.project_id }}"
               value="{{ project.downvotes }} Downvotes">
        <ng-template #notDownvoted>
          <input class="btn btn-primary"
                 (click)="downvote($event)"
                 name="{{ project.project_id }}"
                 value="{{ project.downvotes }} Downvotes">
        </ng-template>
      </div>
    </div>
  </div>
  <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  </div>
</div>

<p class="tag is-warning" *ngIf="page.done | async">End of projects!</p>
<div *ngIf="page.loading | async"></div>

<router-outlet></router-outlet>
